/* Rainbow Minimal Blocks */

:root {
  --rainbow: #ff7474, #f8f07d, #76e7e7, #b85cb8;
  --rainbowLite: #FEC7C7, #FBF8CB, #CAF5F3, #E2BEE2;
  --background: #fff;
  --accent: #888;
  --text: #333;

  --font: 'Roboto', sans-serif;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font);
}

a {
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
  -webkit-background-image: linear-gradient(220deg, var(--rainbow));
     -moz-background-image: linear-gradient(220deg, var(--rainbow));
          background-image: linear-gradient(220deg, var(--rainbow));
  color: var(--text);
  text-decoration: none;
  text-shadow: 0 0 0 rgba(0,0,0,0.2);
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.2s;
}

a:hover {
  color: transparent;
}

input,
select,
button {
  background: linear-gradient(90deg, var(--rainbowLite));
  border: 1px solid var(--accent);
  color: var(--text);
  font-weight: bold;
}



/* SCROLLBAR */
/* will not work on all browsers - non-standard */

::-webkit-scrollbar {
  background: var(--background);
  border-left: 1px solid var(--accent);
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
}

::-webkit-scrollbar-corner {
  background: transparent;
}



/* HIGHLIGHT */

::selection {
  background: var(--text);
  color: var(--background);
}

::-moz-selection {
  background: var(--text);
  color: var(--background);
}



/* CONTROL STRIP */

#lj_controlstrip {
  display: none;
}



/* POP-UPS */

.ljuser .ContextualPopup-trigger {
  display: none;
}

.ljuser::before {
  content: "@";
  color: var(--text);
  font-weight: bold;
  font-size: 15px;
  padding: 0 2px 0 4px;
}

.ljuser a:first-child {
  padding: 0;
}

.ContextualPopup {
  border: 1px solid var(--accent);
  background: var(--background);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  color: var(--text);
}

.ContextualPopup a {
  color: var(--text);
}



/* HEADER */

#pagetitle {
  display: none;
}

#header {
  border-bottom: 1px solid var(--accent);
  padding: 4px 10px;
  background: linear-gradient(90deg, var(--rainbowLite));
}

#title {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 22px;
  letter-spacing: 2px;
}

#subtitle {
  cursor: default;
  display: inline-block;
  padding: 0 0 0 5px;
  margin: 0;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: lowercase;
  font-variant: small-caps;
}

#header a:hover {
  color: var(--text);
}



/* NAVIGATION */

.topnav,
.bottomnav .page-separator {
  display: none;
}

.bottomnav {
  height: 20px;
  text-align: right;
  margin-bottom: 25px;
}

.bottomnav ul {
  margin: 5px 0;
}

.bottomnav .page-back {
  float: left;
}

#footer {
  background: linear-gradient(270deg, var(--rainbowLite));
  text-align: right;
  border-top: 1px solid var(--accent);
  padding: 5px;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#footer a:hover {
  color: var(--text);
}



/* MODULES */

.module h2, 
.module .manage-link, 
.module-tags_cloud, 
.module-customtext, 
.module-cuttagcontrols, 
.module-credit, 
.module-syndicate, 
.module-subscriptionfilters, 
.module-search, 
.module-time, 
.module-powered, 
.module-pagesummary, 
.module-calendar, 
.module-active,
.module-userprofile .journal-name,
#tertiary {
  display: none;
}

#secondary {
  border-left: 1px solid var(--accent);
  width: 14.9%;
  font-size: 12px;
  float: right;
  margin-bottom: 23px;
  background: linear-gradient(220deg, var(--rainbowLite));
}

#secondary > .inner:first-child {
  padding: 0;
}

#secondary .module {
  border-bottom: 1px solid var(--accent);
  padding: 1em;
}

#secondary .module .module-content {
  background: var(--background);
  padding: 1em;
}

.module-userprofile .userpic {
  width: 110px;
  margin: auto;
}

.module-userprofile img {
  border: 4px solid var(--background);
  outline: 1px solid var(--accent);
}

.module-userprofile ul,
.module-navlinks ul,
.module-typelist ul,
.module-tags_multilevel ul, 
.module-tags_list ul {
  margin: 0;
}

.module-userprofile li,
.module-navlinks li,
.module-typelist li,
.module-tags_multilevel li, 
.module-tags_list li {
  list-style-type: none;
  margin: -1px;
  padding: 5px 0;
}



/* ENTRIES */

.comment-date-text,
.comment-from-text,
.comment-ip-text,
.restrictions img, 
.access-filter img,
.sticky-entry-icon,
.entry .userpic,
.comment .userpic,
.entry .time {
  display: none;
}

#primary {
  border-right: 1px solid var(--accent);
  min-height: 100vh;
  width: 85%;
  font-size: 13px;
  margin-bottom: 25px;
}

#primary > .inner:first-child {
  padding: 0;
}

.entry {
  border-bottom: 1px solid var(--accent);
}

.comment {
  margin-left: 20px;
  border: 1px solid var(--accent);
  border-right: none;
}

.comment-wrapper {
  padding: 0;
  margin: -6px 0;
}

.entry > .inner {
  padding: 0;
}

.entry .header,
.comment .header {
  border-bottom: 1px solid var(--accent);
  padding: 4px;
}

.entry .entry-title {
  display: inline-block;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  padding: 5px 10px 0;
  cursor: default;
}

.entry .datetime {
  display: block;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  padding: 0 10px;
  cursor: default;
}

.entry .entry-content,
.comment .comment-content {
  text-align: justify;
  padding: 10px;
}

.footer {
  text-align: right;
  border-top: 1px solid var(--accent);
  padding: 5px 10px;
  background: linear-gradient(90deg, var(--rainbowLite));
  cursor: default;
}

.footer a:hover {
  color: var(--text);
}

.entry .tag {
  float: left;
  text-transform: uppercase;
  font-weight: bold;
}

.entry-management-links, 
.entry-interaction-links,
.comment-management-links, 
.comment-interaction-links {
  display: inline;
}

.access-filter,
.restrictions {
  float: right;
  font-weight: bold;
  letter-spacing: 2px;
  font-variant: small-caps;
  text-align: left;
  padding-right: 2px;
}

.security-protected .access-filter:before {
  content: "locked";
}

.security-private .access-filter:before {
  content: "private";
}

.restrictions-NSFW .restrictions:before {
  content:"nsfw";
}

.restrictions-18 .restrictions:before {
  content:"18+";
}

.comment-pages {
  text-align: center;
  margin: 5px 0;
}

.toppages {
  padding: 10px 0;
}

.bottompages {
  margin-bottom: 25px;
}

.bottomcomment {
  text-align: center;
}

.bottomcomment .entry-management-links, 
.bottomcomment .entry-interaction-links {
  display: block;
  text-align: center;
}

.noentries {
  text-align: center;
  font-weight: bold;
  cursor: default;
}



/* ARCHIVE, TAGS, ICONS */

.navigation.bottomnav.empty {
  display: none;
}

.header h2 {
  cursor: default;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding-left: 10px;
  letter-spacing: 1px;
}

.tags-container,
.icons-container,
.month-wrapper,
#archive-month {
  border-bottom: 1px solid var(--accent);
  margin-bottom: 24px;
}

#archive-month {
  padding: 10px;
}

.icon-image, 
.icon-info {
  display:inline-block;
  padding: 10px 0 10px 10px;
}

.month table caption {
  font-weight: bold;
}

.month .header {
  display: none;
}

table.month {
  width: 50%;
  margin-bottom: 20px;
}

table.month th {
  border-color: var(--accent);
  background: var(--accent);
  color: var(--background);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

table.month td {
  border-color: var(--accent);
  vertical-align: top;
}

table.month tbody {
  background: var(--background);
}

.month caption {
  font-size: 30px;
  cursor: default;
}



/* MOBILE */

@media (max-width: 1000px) {
  #secondary {
    width: 24.9%;
  }
  #primary {
    width: 75%;
  }
}

@media (max-width: 650px) {
  #primary {
    width: 100%;
  }
  #secondary {
    float: none;
    width: 100%;
  }
  .module-tags_multilevel, 
  .module-tags_list,
  .module-userprofile {
    display: none;
  }
  .module-navlinks ul,
  .module-typelist ul {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .module-navlinks li,
  .module-typelist li {
    padding: 0 4px;
  }
}




#selectorMain {
  position: fixed;
  top: -120vh;
  right: 0;
  left: 0;
  height: 100vh;
  background: linear-gradient(120deg, #deb9ee, #fcc0e0, #f8ebaa, #bdf8fa, #fcc0e0);
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  overflow-y: auto;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  z-index: 500;
  transition: all 0.4s;
}

#open-close {
  padding: 15px 30px 30px 15px;
  font-size: 25px;
  color: #000;
  background: linear-gradient(120deg, #deb9ee, #fcc0e0, #f8ebaa, #bdf8fa, #fcc0e0);
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 0 0 100px 0;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.2s ease-in-out;
}

#open-close:hover {
  text-shadow: 0 0 4px rgba(0,0,0,0.6);
  color: #fff;
}

.imageBlock {
  width: 180px;
  height: 120px;
  margin: 15px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 4px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: transparent;
  letter-spacing: 1px;
  transition: all 0.2s;
}

.imageBlock:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px #000;
  color: #fff;
  text-shadow: 0 0 2px #000, 0 0 4px #000;
}