:root {
  --background: #fff;
  --text: #333;
  --accent: #c4586a;

  --font: 'Kanit', sans-serif;
  --headerFont: 'Nova Mono', monospace;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font);
  font-size: 12px;
}

a {
  color: var(--accent);
  text-decoration: none;
  font-family: var(--headerFont);
  font-weight: bold;
  background: linear-gradient(90deg, var(--accent), var(--accent)) no-repeat;
  background-size: 0% 1px;
  background-position: bottom right;
  transition: background-size 0.3s;
}

a:hover {
  color: var(--text);
  background-size: 100% 1px;
  background-position: bottom left;
}

input,
select,
button {
  background: var(--text);
  color: var(--background);
  border: none;
  font-size: 10px;
  letter-spacing: 1px;
  cursor: pointer;
}



/* SCROLLBAR */
/* will not work on all browsers - non-standard */

::-webkit-scrollbar {
  background: var(--background);
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--text);
  border: 4px solid var(--background);
  border-top: none;
  border-bottom: none;
}

::-webkit-scrollbar-corner {
  background: transparent;
}



/* HIGHLIGHT */

::selection {
  background: var(--text);
  color: var(--background);
}

::-moz-selection {
  background: var(--text);
  color: var(--background);
}



/* CREDIT */

body::after {
  content: 'KillTheCake';
  color: var(--accent);
  font-family: var(--headerFont);
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 8px;
  position: fixed;
  bottom: 5px;
  left: 8px;
}



/* CONTROL STRIP */

#lj_controlstrip {
  display: none;
}



/* POP-UPS */

.ljuser .ContextualPopup-trigger {
  display: none;
}

.ljuser::before {
  content: "@";
  color: var(--accent);
  font-family: var(--headerFont);
  font-weight: bold;
  font-size: 12px;
  padding: 0 2px 0 4px;
}

.ljuser a:first-child {
  padding: 0;
}

.ContextualPopup {
  border: 1px solid var(--text);
  background: var(--background);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  color: var(--text);
}

.ContextualPopup a {
  color: var(--accent);
}



/* HEADER */

#subtitle,
#pagetitle {
  display: none;
}

#title {
  font-family: var(--headerFont);
  font-weight: bold;
  font-size: 40px;
  margin-left: 335px;
}

#title a {
  color: var(--text);
}

#title::first-letter {
  text-shadow: -1px 1px 0 var(--accent);
}



/* NAVIGATION */

.topnav {
  display: none;
}

.bottomnav {
  color: var(--accent);
}

.page-top a {
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-transform: capitalize;
}



/* MODULES */

.module h2, 
.module .manage-link, 
.module-tags_cloud, 
.module-tags_multilevel, 
.module-tags_list,
.module-cuttagcontrols, 
.module-credit, 
.module-syndicate, 
.module-subscriptionfilters, 
.module-search, 
.module-time, 
.module-powered, 
.module-pagesummary, 
.module-calendar, 
.module-active,
.module-userprofile,
.module-customtext,
#tertiary {
  display: none;
}

#secondary {
  position: fixed;
  top: 100px;
  left: 50px;
  width: 250px;
  border-bottom: 3px solid var(--text);
  border-radius: 3px;
}

#secondary a {
  color: var(--text);
}

#secondary a:hover {
  color: var(--accent);
}

.module-navlinks ul,
.module-typelist ul {
  margin: 0;
}

.module-navlinks li,
.module-typelist li {
  list-style-type: none;
  margin: -1px;
  padding: 5px 0;
}



/* ENTRIES */

.comment-date-text,
.comment-from-text,
.comment-ip-text,
.restrictions img, 
.access-filter img,
.sticky-entry-icon,
.entry .userpic,
.comment .userpic,
.entry .time {
  display: none;
}

#primary {
  float: left;
  margin-left: 330px;
  width: 60%;
}

.entry {
  margin-bottom: 40px;
}

.entry .entry-title {
  font-size: 20px;
}

.entry .datetime {
  color: var(--accent);
}

.entry .entry-poster {
  font-variant: small-caps;
  letter-spacing: 1px;
  font-size: 14px;
}

.entry .entry-content {
  padding: 10px 0;
}

.entry-management-links a, 
.entry-interaction-links a {
  padding-right: 4px;
}

.entry-management-links, 
.entry-interaction-links,
.comment-management-links, 
.comment-interaction-links {
  display: inline;
}

.access-filter,
.restrictions {
  display: block;
  font-weight: bold;
  letter-spacing: 2px;
  font-variant: small-caps;
  text-align: left;
  padding-right: 2px;
  margin: 0;
  padding: 0;
}

.security-protected .access-filter:before {
  content: "locked";
}

.security-private .access-filter:before {
  content: "private";
}

.restrictions-NSFW .restrictions:before {
  content:"nsfw";
}

.restrictions-18 .restrictions:before {
  content:"18+";
}

.comment-pages {
  text-align: center;
  margin: 5px 0;
}

.toppages {
  padding: 10px 0;
}

.bottompages {
  margin-bottom: 25px;
}

.bottomcomment {
  text-align: center;
  padding-top: 20px;
}

.bottomcomment .entry-management-links, 
.bottomcomment .entry-interaction-links {
  display: block;
  text-align: center;
}

.noentries {
  text-align: center;
  font-weight: bold;
  cursor: default;
}



/* ARCHIVE, TAGS, ICONS */

.header h2 {
  cursor: default;
  font-family: var(--headerFont);
  margin: 0;
  padding-left: 10px;
  letter-spacing: 1px;
  color: var(--text);
  font-size: 30px;
}

#archive-month {
  padding: 10px;
}

.icon-image, 
.icon-info {
  display:inline-block;
  padding: 10px 0 10px 10px;
}

.month table caption {
  font-family: var(--headerFont);
  color: var(--text);
}

.month .header {
  display: none;
}

table.month {
  width: 50%;
  margin-bottom: 20px;
}

table.month th {
  border-color: var(--text);
  background: var(--text);
  color: var(--background);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

table.month td {
  border-color: var(--text);
  vertical-align: top;
}

table.month tbody {
  background: var(--background);
}

.month caption {
  font-size: 30px;
  cursor: default;
}



/* MOBILE */

@media (max-width: 900px) {
  #secondary {
    width: 150px;
  }
  #primary {
    margin-left: 250px;
  }
}

@media (max-width: 650px) {
  #secondary {
    position: relative;
    top: 0;
    left: 0;
    width: 90%;
    margin: auto;
  }
  .module-navlinks ul,
  .module-typelist ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .module-navlinks li,
  .module-typelist li {
    padding: 4px 6px;
  }
  #primary {
    margin: auto;
    width: 90%;
    float: none;
  }
  #title {
    margin-left: 50px;
  }
}




#selectorMain {
  position: fixed;
  top: -120vh;
  right: 0;
  left: 0;
  height: 100vh;
  background: linear-gradient(120deg, #deb9ee, #fcc0e0, #f8ebaa, #bdf8fa, #fcc0e0);
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  overflow-y: auto;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  z-index: 500;
  transition: all 0.4s;
}

#open-close {
  padding: 15px 30px 30px 15px;
  font-size: 25px;
  color: #000;
  background: linear-gradient(120deg, #deb9ee, #fcc0e0, #f8ebaa, #bdf8fa, #fcc0e0);
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 0 0 100px 0;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.2s ease-in-out;
}

#open-close:hover {
  text-shadow: 0 0 4px rgba(0,0,0,0.6);
  color: #fff;
}

.imageBlock {
  width: 180px;
  height: 120px;
  margin: 15px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 4px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: transparent;
  letter-spacing: 1px;
  transition: all 0.2s;
}

.imageBlock:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px #000;
  color: #fff;
  text-shadow: 0 0 2px #000, 0 0 4px #000;
}