:root {
  --background: #fff;
  --accent: #999;
  --lightAccent: #e7e7e7;
  --medAccent: #ccc;
  --darkAccent: #555;

  --headerFont: 'Roboto Slab', sans-serif;
  --subFont: 'Courgette', sans-serif;
  --font: 'Roboto', sans-serif;
}

body {
  color: var(--accent);
  background: var(--background);
  font-family: var(--font);
  font-size: 12px;
}

a {
  text-decoration: none;
  font-family: var(--headerFont);
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  color: var(--accent);
  font-weight: bold;
  padding: 2px;
  background: linear-gradient(90deg, var(--lightAccent), var(--lightAccent)) no-repeat;
  background-size: 0px 100%;
  background-position: center;
  transition: all 0.5s;
}

a:hover {
  background-size: 100% 100%;
  color: var(--darkAccent);
}

input,
select,
button {
  background: var(--accent);
  text-transform: lowercase;
  border: 1px solid var(--accent);
  color: var(--background);
}



/* SCROLLBAR */
/* will not work on all browsers - non-standard */

::-webkit-scrollbar {
  background: var(--background);
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
}

::-webkit-scrollbar-corner {
  background: transparent;
}



/* HIGHLIGHT */

::selection {
  background: var(--accent);
  color: var(--background);
}

::-moz-selection {
  background: var(--accent);
  color: var(--background);
}



/* CREDIT */

body::after {
  content: 'killthecake';
  color: var(--accent);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 8px;
  font-weight: bold;
  position: fixed;
  bottom: 10px;
  right: 10px;
}



/* CONTROL STRIP */

#lj_controlstrip {
  display: none;
}



/* POP-UPS */

.ljuser .ContextualPopup-trigger {
  display: none;
}

.ljuser::before {
  content: "@";
  color: var(--medAccent);
  font-size: 10px;
  padding: 0 2px 0 4px;
}

.ljuser a:first-child {
  padding: 0;
}

.ContextualPopup {
  border: none;
  background: var(--background);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  color: var(--accent);
}

a.ContextualPopup-trigger:hover {
  background: none;
}

.ContextualPopup a {
  color: var(--darkAccent);
}



/* HEADER */

#pagetitle  {
  display: none;
}

#header {
  margin: 0 auto;
  padding: 0;
  width: 50%;
  text-align: left;
}

#title {
  display: inline;
  margin: 0;
  padding: 0;
}

#title a {
  color: var(--lightAccent);
  font-size: 70px;
  font-family: var(--headerFont);
  font-weight: normal;
  background: none;
  text-transform: none;
}

#title a:hover {
  color: var(--lightAccent);
}

#subtitle {
  font-size: 13px;
  font-family: var(--subFont);
  display: inline-block;
  position: relative;
  bottom: 10px;
  right: 50px;
  letter-spacing: 4px;
  color: var(--darkAccent);
  cursor: default;
}



/* NAVIGATION */

.topnav {
  display: none;
}

.page-top a {
  position: fixed;
  left: 10px;
  bottom: 10px;
  color: var(--accent);
  letter-spacing: 2px;
  font-size: 8px;
  font-family: var(--font);
}



/* MODULES */

.module h2,
.module .manage-link, 
.module-tags_cloud, 
.module-tags_multilevel, 
.module-tags_list,
.module-cuttagcontrols, 
.module-credit, 
.module-syndicate, 
.module-subscriptionfilters, 
.module-search, 
.module-time, 
.module-powered, 
.module-pagesummary, 
.module-calendar, 
.module-active,
.module-userprofile, 
#tertiary {
  display: none;
}

#secondary {
  width: 50%;
  margin: auto;
}

.module-customtext {
  width: 90%;
  text-align: justify;
  font-size: 10px;
  margin: 5px auto;
}

.module-navlinks ul,
.module-typelist ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.module-navlinks li,
.module-typelist li {
  list-style-type: none;
  margin: -1px;
  padding: 5px;
}



/* ENTRIES */

.comment-date-text,
.comment-from-text,
.comment-ip-text,
.restrictions img, 
.access-filter img,
.sticky-entry-icon,
.entry .userpic,
.comment .userpic,
.entry .time {
  display: none;
}

#primary {
  width: 60%;
  margin: auto;
}

.entry {
  margin-bottom: 40px;
}

.comment {
  margin-bottom: 20px;
}

.entry .entry-title,
.entry .entry-title a {
  font-family: var(--headerFont);
  font-size: 18px;
  text-transform: none;
  letter-spacing: 1px;
  text-align: right;
  color: var(--medAccent);
}

.entry .entry-title a:hover {
  color: var(--accent);
}

.entry .datetime {
  text-align: right;
  display: block;
  color: var(--medAccent);
  padding-right: 5px;
}

.entry .datetime a {
  color: var(--medAccent);
  background: none;
  padding: 0;
}

.entry .ljuser {
  display: block;
  text-align: right;
}

.entry .ljuser a {
  color: var(--medAccent);
}

.entry .ljuser a:hover {
  color: var(--accent);
}

.entry .entry-content {
  text-align: justify;
  font-size: 11px;
  padding: 5px 0 10px;
}

.entry-management-links, 
.entry-interaction-links,
.comment-management-links, 
.comment-interaction-links {
  display: inline;
}

.entry .footer {
  text-align: right;
}

.entry .tag {
  float: left;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  color: var(--accent);
  font-weight: bold;
}

.access-filter,
.restrictions {
  display: block;
  font-weight: bold;
  letter-spacing: 2px;
  font-variant: small-caps;
  text-align: right;
  padding-right: 2px;
  color: var(--medAccent);
}

.security-protected .access-filter:before {
  content: "locked";
}

.security-private .access-filter:before {
  content: "private";
}

.restrictions-NSFW .restrictions:before {
  content:"nsfw";
}

.restrictions-18 .restrictions:before {
  content:"18+";
}

.comment-pages {
  text-align: center;
  margin: 5px 0;
}

.bottomcomment {
  text-align: center;
}

.bottomcomment .entry-management-links, 
.bottomcomment .entry-interaction-links {
  display: block;
  text-align: center;
}

.noentries {
  text-align: center;
  font-weight: bold;
  cursor: default;
}



/* ARCHIVE, TAGS, ICONS */

.header h2 {
  text-decoration: none;
  cursor: default;
  font-weight: normal;
  text-transform: normal;
  font-size: 40px;
  font-family: var(--headerFont);
  color: var(--medAccent);
}

.icon-image, 
.icon-info {
  display:inline-block;
  padding: 10px 0 10px 10px;
}

.icon-image a {
  background: transparent;
}

.month table caption {
  font-weight: bold;
}

.month .header {
  display: none;
}

table.month {
  width: 80%;
  margin: 0 auto 20px;
}

table.month th {
  border-color: var(--accent);
  background: var(--accent);
  color: var(--background);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

table.month td {
  border-color: var(--accent);
  vertical-align: top;
}

table.month tbody {
  background: var(--background);
}

table.month .day-has-entries {
  background: var(--background);
}

.month caption {
  font-size: 30px;
  cursor: default;
  font-family: var(--headerFont);
}



/* MOBILE */

@media (max-width: 800px) {
  #header,
  #secondary,
  #primary {
    width: 80%;
  }
}




#selectorMain {
  position: fixed;
  top: -120vh;
  right: 0;
  left: 0;
  height: 100vh;
  background: linear-gradient(120deg, #deb9ee, #fcc0e0, #f8ebaa, #bdf8fa, #fcc0e0);
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  overflow-y: auto;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  z-index: 500;
  transition: all 0.4s;
}

#open-close {
  padding: 15px 30px 30px 15px;
  font-size: 25px;
  color: #000;
  background: linear-gradient(120deg, #deb9ee, #fcc0e0, #f8ebaa, #bdf8fa, #fcc0e0);
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 0 0 100px 0;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.2s ease-in-out;
}

#open-close:hover {
  text-shadow: 0 0 4px rgba(0,0,0,0.6);
  color: #fff;
}

.imageBlock {
  width: 180px;
  height: 120px;
  margin: 15px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 4px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: transparent;
  letter-spacing: 1px;
  transition: all 0.2s;
}

.imageBlock:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px #000;
  color: #fff;
  text-shadow: 0 0 2px #000, 0 0 4px #000;
}