:root {
  --background: #fff;
  --text: #000;

  --backgroundImage: center/cover url('https://cdn.discordapp.com/attachments/1046237617685020682/1186158115520000110/witchy-aesthetic-27unxjlcrc77um2v.jpg') fixed;

  --font: 'Roboto', sans-serif;
  --header: 'Gruppo', sans-serif;
}

body {
  background: linear-gradient(90deg, var(--background) 55%, transparent 70%), var(--backgroundImage);
  color: var(--text);
  font: 12px var(--font);
}

a {
  color: var(--text);
}

input,
select,
button {
  background: var(--background);
  border: 1px solid var(--text);
  font-weight: bold;
  cursor: pointer;
  color: var(--text);
}



/* SCROLLBAR */
/* will not work on all browsers - non-standard */

::-webkit-scrollbar {
  background: var(--background);
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--text);
}

::-webkit-scrollbar-corner {
  background: transparent;
}



/* HIGHLIGHT */

::selection {
  background: var(--text);
  color: var(--background);
}

::-moz-selection {
  background: var(--text);
  color: var(--background);
}



/* CREDIT */

body::after {
  content: 'killthecake';
  background: var(--background);
  color: var(--text);
  padding: 0 2px;
  text-transform: uppercase;
  font-size: 6px;
  font-weight: bold;
  letter-spacing: 3px;
  position: fixed;
  bottom: 8px;
  right: 8px;
  z-index: 2;
}



/* CONTROL STRIP */

#lj_controlstrip {
  display: none;
}



/* POP-UPS */

.ljuser .ContextualPopup-trigger {
  display: none;
}

.ljuser::before {
  content: "x";
  color: var(--text);
  font-weight: bold;
  font-size: 10px;
}

.ljuser a:first-child {
  padding: 0;
}

.ljuser a {
  font-family: var(--font);
  text-transform: uppercase;
  font-size: 10px;
  padding: 0 2px;
  letter-spacing: 1px;
}

.ContextualPopup {
  border: 5px solid var(--background);
  background: var(--background);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  color: var(--text);
}

.ContextualPopup a {
  color: var(--text);
}



/* HEADER */

#header {
  display: none;
}



/* NAVIGATION */

.topnav,
.page-top {
  display: none;
}

.bottomnav a {
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 8px;
  letter-spacing: 2px;
}



/* MODULES */

#secondary, 
#tertiary {
  display: none;
}



/* ENTRIES */

.comment-date-text,
.comment-from-text,
.comment-ip-text,
.restrictions img,
.access-filter img,
.sticky-entry-icon,
.entry .userpic,
.comment .userpic,
.datetime .time {
  display: none;
}

#primary {
  width: 50%;
  padding: 0 20px;
}

#primary > .inner:first-child {
  padding: 0;
}

.entry {
  margin: 30px 0;
  border: 3px solid var(--text);
  background: var(--background);
  padding: 10px;
  max-height: 20px;
  overflow: hidden;
  transition: all 1s;
}

.entry:hover {
  max-height: 1000px;
  transition: all 1s;
}

.entry .entry-title {
  font: 20px var(--header);
  color: var(--text);
  font-weight: bold;
  margin: 0;
  padding: 0 0 10px 0;
  cursor: default;
}

.entry .datetime {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}

.entry .datetime a {
  text-decoration: none;
}

.access-filter,
.restrictions {
  display: block;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 1px;
  font-variant: small-caps;
  padding-right: 2px;
  font-size: 14px;
}

.security-protected .access-filter:before {
  content: "locked";
}

.security-private .access-filter:before {
  content: "private";
}

.restrictions-NSFW .restrictions:before {
  content:"nsfw";
}

.restrictions-18 .restrictions:before {
  content:"18+";
}

.entry .entry-content {
  padding: 15px 0;
  text-align: justify;
}

.entry .footer {
  text-transform: uppercase;
  font-size: 10px;
  text-align: right;
  font-weight: bold;
}

.entry .footer a {
  text-decoration: none;
}

.entry .tag {
  float: left;
}

.entry-management-links, 
.entry-interaction-links,
.comment-management-links, 
.comment-interaction-links {
  display: inline;
}

.entry-management-links a, 
.entry-interaction-links a,
.comment-management-links a, 
.comment-interaction-links a {
  padding: 0 2px;
}

.comment {
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid var(--text);
  background: var(--background);
}

.comment .comment-content {
  padding: 5px 0;
  text-align: justify;
}

.comment .datetime,
.comment .poster-ip {
  font-weight: bold;
  cursor: default;
}

.comment .header {
  padding-bottom: 10px;
}

.comment .footer {
  font-weight: bold;
  padding-top: 5px;
}

.comment-pages {
  text-align: center;
  margin: 5px 0;
}

.bottomcomment,
.comment-pages {
  text-align: center;
  background: var(--background);
  padding: 10px;
  border-radius: 20px;
}

.bottomcomment a,
.comment-pages a {
  padding: 0 2px;
  font-weight: normal;
  font-weight: bold;
}

.bottomcomment .entry-management-links, 
.bottomcomment .entry-interaction-links {
  display: block;
  text-align: center;
}

.noentries {
  text-align: center;
  font-weight: bold;
  cursor: default;
}



/* ARCHIVE, TAGS, ICONS */

.empty {
  display: none;
}

.header h2 {
  text-decoration: none;
  cursor: default;
  font: 20px var(--header);
  margin: 0;
  padding: 0;
}

.tags-container,
.icons-container,
.month-wrapper {
  padding: 10px;
  margin-top: 20px;
}

#archive-month {
  padding: 1px 12px;
  margin-top: 20px;
}

.tags-container,
.icons-container,
#archive-month {
  margin-bottom: 40px;
  padding: 30px;
  background: var(--background);
  border-radius: 20px;
}

.tags-container .inner,
.icons-container .inner {
  padding: 2px 5px 5px;
}

.icon-image, 
.icon-info {
  display: inline-block;
  padding: 10px 0 10px 10px;
}

.icon-image a {
  background: transparent;
}

table.month {
  width: 80%;
  margin: 5px auto;
}

table.month th {
  border-color: var(--text);
  background: var(--text);
  color: var(--background);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  text-align: center;
}

table.month td {
  border-color: var(--text);
  background: var(--background);
  vertical-align: top;
}

table.month td a {
  font-weight: bold;
}

.month dt {
  padding: 5px;
}

.month .header {
  display: none;
}

.month caption {
  font: 40px var(--header);
  color: var(--text);
}

.month .footer {
  text-align: center;
}

.month .footer a {
  color: var(--text);
}

.month .footer a:hover {
  color: var(--text);
}



/* MOBILE */

@media (max-width: 800px) {
  #primary {
    width: 90%;
  }
}
