:root {
  --pattern: url('https://i.imgur.com/lQuGZOc.png') fixed;

  --background: #070707;

  --accent: #5804b8;
  --text: #ABABAB;

  --font: 'Roboto', sans-serif;
  --headerFont: 'Amatic SC', sans-serif;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font);
  font-size: 14px;
  cursor: crosshair;
}

a {
  text-decoration: none;
  color: var(--accent);
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 8px;
  transition: all 1s;
}

a:hover {
  text-shadow: 0 0 2px var(--accent), 
               0 0 4px var(--accent), 
               0 0 8px var(--accent), 
               0 0 10px var(--accent), 
               0 0 14px var(--accent);
  color: var(--background);
  transition: color 1s;
}

input,
select,
button {
  background: var(--text);
  text-transform: lowercase;
  border: 1px solid var(--text);
}

input:hover, 
select:hover, 
button:hover {
  background: var(--background);
  color: var(--text);
  cursor: pointer;
}



/* SCROLLBAR */
/* will not work on all browsers - non-standard */

::-webkit-scrollbar {
  background: var(--background);
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
}

::-webkit-scrollbar-corner {
  background: transparent;
}



/* HIGHLIGHT */

::selection {
  background: var(--text);
  color: var(--background);
}

::-moz-selection {
  background: var(--text);
  color: var(--background);
}



/* CREDIT */

body::after {
  content: 'killthecake';
  color: var(--accent);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 8px;
  font-weight: bold;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 0;
}



/* CONTROL STRIP */

#lj_controlstrip {
  background: var(--background);
  position: relative;
  z-index: 1;
}

#lj_controlstrip a {
  color: var(--text);
  padding: 0 2px;
  font-size: 11px;
  font-weight: bold;
  text-transform: none;
}

#lj_controlstrip a:hover {
  color: var(--accent);
  text-decoration: none;
  background: transparent;
  text-shadow: none;
  transition: color 0s;
}

#lj_controlstrip .ljuser a {
  margin: 0 !important;
  font-weight:bold;
}

#lj_controlstrip_userpic img, 
#lj_controlstrip .ljuser img {
  display:none;
}

#lj_controlstrip_user, 
#lj_controlstrip_login, 
#lj_controlstrip_actionlinks {
  border-right: none;
}

#lj_controlstrip_actionlinks {
  text-align: center;
}

#lj_controlstrip_statustext {
  color: var(--text);
  font-size: 11px;
  font-weight:normal;
}

#lj_controlstrip_search {
  text-align: right;
  color: var(--text);
}

#lj_controlstrip_search #text {
  font-family: var(--font);
}

#lj_controlstrip input, 
#lj_controlstrip select {
  background: var(--text);
  outline:none;
  font-variant: normal;
}

#lj_controlstrip input:hover, 
#lj_controlstrip select:hover, 
#lj_controlstrip input#search:hover {
  background: var(--background);
  color: var(--text);
  cursor:pointer;
}

#lj_controlstrip input {
  text-transform: lowercase;
  border: 1px solid var(--text);
  color: var(--background);
  padding: 0 2px;
}

#lj_controlstrip select {
  padding: 1px 0 2px;
  border: 1px solid var(--text);
  text-transform: lowercase;
  color: var(--background);
}

#lj_controlstrip input#xc_user, 
#lj_controlstrip input#xc_password, 
#lj_controlstrip input#search {
  background: var(--text);
  border: 1px solid var(--text);
  text-transform: lowercase;
  color: var(--background);
}



/* POP-UPS */

.ljuser .ContextualPopup-trigger {
  display: none;
}

.ljuser {
  text-align: center;
  display: block;
}

#lj_controlstrip .ljuser,
.comment .ljuser {
  display: inline;
}

.ljuser::before {
  content: "@";
  color: var(--accent);
  font-weight: bold;
  font-size: 10px;
  padding: 0 2px 0 4px;
}

#lj_controlstrip .ljuser::before {
  content: "";
  padding: 0;
  font-size: 0;
}

.ljuser a {
  text-transform: none;
  font-variant: small-caps;
  font-size: 14px;
}

.ljuser a:first-child {
  padding: 0;
}

.ContextualPopup {
  border: none;
  background: var(--background);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  color: var(--text);
}

.ContextualPopup a {
  color: var(--accent);
}



/* HEADER */

#header  {
  display: none;
}



/* NAVIGATION */

.topnav {
  display: none;
}

.page-top {
  position: relative;
  z-index: 0;
}

.page-top a {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.bottomnav {
  text-align: center;
  margin: -50px 0 40px;
  font-weight: bold;
  color: var(--accent);
}



/* MODULES */

.module h2,
.module .manage-link, 
.module-tags_cloud, 
.module-tags_multilevel, 
.module-tags_list,
.module-customtext, 
.module-cuttagcontrols, 
.module-credit, 
.module-syndicate, 
.module-subscriptionfilters, 
.module-search, 
.module-time, 
.module-powered, 
.module-pagesummary, 
.module-calendar, 
.module-active,
.module-userprofile, 
#tertiary {
  display: none;
}

.module-navlinks ul,
.module-typelist ul {
  margin: 0;
}

.module-navlinks li,
.module-typelist li {
  list-style-type: none;
  margin: -1px;
  padding: 5px 0;
}

.module-navlinks ul,
.module-typelist ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.module-navlinks ul {
  font-family: var(--headerFont);
  padding-bottom: 10px;
}

.module-navlinks a {
  font-size: 24px;
  text-transform: none;
}



/* ENTRIES */

.comment-date-text,
.comment-from-text,
.comment-ip-text,
.restrictions img, 
.access-filter img,
.sticky-entry-icon,
.entry .userpic,
.comment .userpic,
.entry .time {
  display: none;
}

#primary {
  width: 80%;
  margin: auto;
}

.entry {
  background: var(--pattern), var(--background);
  width: 70%;
  margin: 0 auto 60px;
  padding-bottom: 20px;
  border-radius: 0 0 15px 15px;
  box-shadow: inset 0 0 2px var(--background), 
              inset 0 0 4px var(--background), 
              inset 0 0 6px var(--background),
              inset 0 0 8px var(--background), 
              inset 0 0 10px var(--background);
}

.comment {
  border-bottom: 1px solid var(--text);
}

.entry > .inner {
  background: var(--background);
  padding: 10px 20px 20px;
}

.entry .header {
  height: 65px;
}

.entry .entry-title,
.entry .entry-title a {
  font-family: var(--headerFont);
  font-size: 46px;
  text-shadow: 0 0 2px var(--accent), 
               0 0 4px var(--accent), 
               0 0 8px var(--accent), 
               0 0 10px var(--accent);
  padding: 0;
  color: var(--background);
  text-transform: none;
}

.entry .entry-title a:hover {
  color: var(--accent);
}

.entry .datetime {
  display: block;
  text-transform: uppercase;
  color: var(--accent);
  font-weight: bold;
  text-align: right;
  position: relative;
  bottom: 20px;
}

.entry .entry-content,
.comment .comment-content {
  font-size: 12px;
  text-align: justify;
  padding: 5px 0 15px 0;
}

.entry .footer {
  text-align: right;
  color: var(--accent);
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 10px;
}

.entry .footer a {
  font-size: 10px;
}

.entry .tag {
  float: left;
}

.entry-management-links, 
.entry-interaction-links,
.comment-management-links, 
.comment-interaction-links {
  display: inline;
}

.access-filter,
.restrictions {
  font-weight: bold;
  letter-spacing: 2px;
  font-variant: small-caps;
  text-align: left;
  padding-right: 2px;
  float: left;
}

.security-protected .access-filter:before {
  content: "locked";
}

.security-private .access-filter:before {
  content: "private";
}

.restrictions-NSFW .restrictions:before {
  content:"nsfw";
}

.restrictions-18 .restrictions:before {
  content:"18+";
}

.comment-pages {
  text-align: center;
  margin: 5px 0;
}

.toppages {
  padding: 10px 0;
}

.bottompages {
  margin-bottom: 25px;
}

.bottomcomment {
  text-align: center;
  color: var(--accent);
  font-weight: bold;
}

.bottomcomment .entry-management-links, 
.bottomcomment .entry-interaction-links {
  display: block;
  text-align: center;
}

.noentries {
  text-align: center;
  font-weight: bold;
  cursor: default;
}



/* ARCHIVE, TAGS, ICONS */

.header h2 {
  cursor: default;
  font-weight: bold;
  font-family: var(--headerFont);
  margin: 0;
  padding-left: 10px;
  letter-spacing: 1px;
  text-shadow: 0 0 2px var(--accent), 
               0 0 4px var(--accent), 
               0 0 8px var(--accent), 
               0 0 10px var(--accent);
  color: var(--background);
  font-size: 46px;
}

.tags-container,
.icons-container,
.month-wrapper,
#archive-month {
  width: 70%;
  margin: auto;
}

#archive-month {
  padding: 10px;
}

.icon-image, 
.icon-info {
  display:inline-block;
  padding: 10px 0 10px 10px;
}

.month table caption {
  font-weight: bold;
}

.month .header {
  display: none;
}

table.month {
  width: 50%;
  margin-bottom: 20px;
}

table.month th {
  border-color: var(--accent);
  background: var(--accent);
  color: var(--background);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

table.month td {
  border-color: var(--accent);
  vertical-align: top;
}

table.month tbody {
  background: var(--background);
}

.month caption {
  font-size: 30px;
  cursor: default;
}



/* MOBILE */

@media (max-width: 1000px) {
  #primary {
    width: 90%;
  }
  .entry {
    width: 100%;
  }
  #lj_controlstrip, 
  #lj_controlstrip_search {
    text-align: center;
  }
  .entry .entry-title a,
  .entry .entry-title {
    font-size: 30px;
  }
}
