/**
There are three versions to this layout: 
ONE- Images on the sidebar in little lines that expand in height when hovered over. 
TWO- Images on the sidebar in squares in a grid-like pattern. 
THREE- Images across the top in tall rectangles.

All of the code for each version is in this file. To change between the versions, you can ctrl+f for "/*FOR IMAGES ON" and you'll find several blocks of code, each labelled accordingly. If you add "/ *" before and "* /" after a block of code (without spaces), then you'll be able to effectively remove it so the computer won't respond to it. (We call this "commenting out" code.)

For example: If you want the top version, you'll add a slash and asterisk around each block of code labelled "IMAGES ON THE SIDE - LINES" or "IMAGES ON THE SIDE" while removing them around those labelled "IMAGES ON TOP." When you're removing them, please make sure that the labels themselves are still surrounded by the "/*" characters.

PLEASE CONTACT ME if you have trouble or questions. If anything, I can absolutely send along your desired version already edited. The reason I haven't split them up is because there isn't much code to change and this makes it easier for you to change between the versions whenever you want.


The default version of this layout is the first (images on the side - lines). If this is the version you want, leave the code as-is.
*/

:root {
  --background: #0e0e0e;
  --accent: #7c7c7c;
  --accent2: #0a0a0a;
  --lightAccent: #b4b4b4;
  --lightAccent2: #ccc;
  --darkAccent: #000;

  --opaque: rgba(0,0,0,0.4);

  --recentEntries: center/cover url("https://cdn.esawebb.org/archives/images/screen/weic2212a.jpg");
  --archive:  center/cover url("https://cdn.esawebb.org/archives/images/screen/pillarsofcreation_composite.jpg");
  --friends:  center/cover url("https://cdn.esawebb.org/archives/images/screen/carinanebula3.jpg");
  --tags:  center/cover url("https://cdn.esawebb.org/archives/images/screen/jupiter-auroras1.jpg");
  --memories:  center/cover url("https://cdn.esawebb.org/archives/images/screen/weic2322a.jpg");
  --profile:  center/cover url("https://cdn.esawebb.org/archives/images/screen/weic2316a.jpg");

  --font: 'Oswald', Arial, Helvetica, sans-serif;
}



/* GENERAL */

body {
  background: var(--background);
  color: var(--accent);
  font-family: var(--font);
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  color: var(--lightAccent);
}



input, 
select {
  background: var(--background);
  font-family: var(--font);
  outline: none;
  text-transform: lowercase;
  border: 1px solid var(--accent);
  color: var(--accent);
}

input[type="submit"] {
  padding-top: 1px;
}

input:hover, 
select:hover {
  cursor: pointer;
}



/* CREDIT */

body::after {
  content: 'KillTheCake';
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: var(--accent);
  font-size: 12px;
}



/* SCROLLBAR */
/* will not work on all browsers - non-standard */

::-webkit-scrollbar {
  background: var(--background);
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
}

::-webkit-scrollbar-corner {
  background: transparent;
}



/* HIGHLIGHT */

::selection {
  background: var(--accent);
  color: var(--background);
}

::-moz-selection {
  background: var(--accent);
  color: var(--background);
}



/* POP-UPS */

.ljuser .ContextualPopup-trigger {
  display: none;
}

.ContextualPopup {
  border: 2px solid var(--accent);
  background: var(--background);
  box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
  color: var(--accent);
}

.ContextualPopup a {
  color: var(--accent);
}

.ContextualPopup .Userpic a {
  padding: 0;
  background: none;
}



/* CONTROL STRIP */

#lj_controlstrip {
  position: sticky;
  top: 0;
  background: var(--background);
  z-index: 1;
}

#lj_controlstrip a {
  color: var(--accent);
  font-family: var(--font);
  padding: 0 2px;
  font-size: 11px;
  font-weight: bold;
}

#lj_controlstrip a:hover {
  color: var(--lightAccent);
  text-decoration: none;
}

#lj_controlstrip .ljuser a {
  margin: 0 !important;
  font-weight:bold;
}

#lj_controlstrip_userpic img, 
#lj_controlstrip .ljuser img {
  display:none;
}

#lj_controlstrip_user, 
#lj_controlstrip_login, 
#lj_controlstrip_actionlinks {
  border-right: none;
}

#lj_controlstrip_actionlinks {
  text-align: center;
}

#lj_controlstrip_statustext {
  color: var(--accent);
  font-family: var(--font);
  font-size: 11px;
  font-weight:normal;
}

#lj_controlstrip_search {
  text-align: right;
  color: var(--accent);
}

#lj_controlstrip_search #text {
  font-family: var(--font);
}

#lj_controlstrip input, 
#lj_controlstrip select {
  background: var(--background);
  font-family: var(--font);
  outline:none;
  font-variant: normal;
}

#lj_controlstrip input:hover, 
#lj_controlstrip select:hover, 
#lj_controlstrip input#search:hover {
  background: var(--background);
  color: var(--accent);
  cursor:pointer;
}

#lj_controlstrip input {
  text-transform: lowercase;
  border: 1px solid var(--accent);
  color: var(--accent);
  padding: 0 2px;
}

#lj_controlstrip select {
  border: 1px solid var(--accent);
  text-transform: lowercase;
  color: var(--accent);
}

#lj_controlstrip input[type="submit"] {
  padding-top: 1px;
}

#lj_controlstrip input#xc_user, 
#lj_controlstrip input#xc_password, 
#lj_controlstrip input#search {
  background: var(--background);
  padding-top: 1px;
  border: 1px solid var(--accent);
  font-family: var(--font);
  text-transform: lowercase;
  color: var(--accent);
}



/* HEADER */

#title,
#subtitle,
#pagetitle {
  display: none;
}



/* NAVIGATION */

.topnav {
  display: none;
}

.page-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}



/* MODULES */

.module h2, 
.module .manage-link, 
.module-tags_multilevel, 
.module-tags_list, 
.module-tags_cloud, 
.module-customtext, 
.module-cuttagcontrols, 
.module-credit, 
.module-syndicate, 
.module-subscriptionfilters, 
.module-search, 
.module-time, 
.module-powered, 
.module-pagesummary, 
.module-calendar, 
.module-active,
.module-userprofile, 
#tertiary {
  display: none;
}

/*FOR IMAGES ON SIDE*/
#secondary {
  background: var(--background);
  width: 30%;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
}

/*FOR IMAGES ON TOP
#secondary {
  background: var(--background);
}
*/

.module-navlinks ul,
.module-typelist ul {
  margin: 0;
}

.module-navlinks li,
.module-typelist li {
  list-style-type: none;
}

/*FOR IMAGES ON SIDE*/
.module-typelist {
  position: fixed;
  right: 10px;
  top: 60px;
  text-align: right;
  font-size: 14px;
  font-weight: bold;
}

/*FOR IMAGES ON TOP
.module-typelist {
  position: fixed;
  right: 10px;
  top: 350px;
  text-align: right;
  font-size: 14px;
  font-weight: bold;
}
*/

/*FOR IMAGES ON SIDE*/
.module-navlinks {
  margin-top: 60px;
}

/*FOR IMAGES ON SIDE - LINES*/
.module-navlinks ul {
  margin: auto;
  width: 90%;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

/*FOR IMAGES ON TOP 
or 
IMAGES ON SIDE - BLOCKS
.module-navlinks ul {
  margin: auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
*/

/*FOR IMAGES ON SIDE - LINES*/
.module-navlinks li {
  border: 2px solid var(--background);
  outline: 1px solid var(--accent);
  width: 100%;
  height: 20px;
  display: flex;
  transition: all 0.5s;
}
/*FOR IMAGES ON SIDE - LINES*/
.module-navlinks li:hover {
  height: 150px;
}

/*FOR IMAGES ON SIDE - BLOCKS
.module-navlinks li {
  border: 2px solid var(--background);
  outline: 1px solid var(--accent);
  width: 150px;
  height: 150px;
  display: flex;
}
*/

/*FOR IMAGES ON TOP
.module-navlinks li {
  border: 2px solid var(--background);
  outline: 1px solid var(--accent);
  width: 12%;
  height: 250px;
  display: flex;
}
*/

.module-navlinks a {
  color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.module-navlinks a:hover {
  color: var(--lightAccent2);
  background: var(--opaque);
  text-shadow: 1px 1px 0 var(--background);
}

.list-item-recent {
  background: var(--recentEntries);
}

.list-item-recent:hover {
  background: var(--recentEntries);
}

.list-item-archive {
  background: var(--archive);
}

.list-item-read {
  background: var(--friends);
}

.list-item-tags {
  background: var(--tags);
}

.list-item-memories {
  background: var(--memories);
}

.list-item-userinfo {
  background: var(--profile);
}



/* ENTRIES */

.entry .userpic,
.comment .userpic,
.comment-date-text,
.comment-from-text,
.comment-ip-text,
.sticky-entry-icon, 
.restrictions img, 
.access-filter img {
  display: none;
}

/*FOR IMAGES ON SIDE*/
#primary {
  margin-left: 30%;
  width: 40%;
  font-size: 12px;
}

/*FOR IMAGES ON TOP
#primary {
  margin: auto;
  width: 60%;
  font-size: 12px;
}
*/

.entry {
  margin-bottom: 20px;
}

.entry .header {
  background: var(--darkAccent);
  text-align: center;
  padding: 0 0 4px 0;
}

.entry-title {
  font-size: 18px;
}

.entry-content {
  text-align: justify;
  margin: 10px 0;
}

.entry-content a {
  font-style: italic;
}

.entry .footer {
  text-align: right;
}

.entry .tag {
  float: left;
}

.entry-management-links, 
.entry-interaction-links,
.comment-management-links, 
.comment-interaction-links {
  display: inline;
}

.access-filter,
.restrictions {
  display: block;
  font-weight: bold;
  letter-spacing: 2px;
  font-variant: small-caps;
  text-align: center;
}

.security-protected .access-filter:before {
  content: "locked";
}

.security-private .access-filter:before {
  content: "private";
}

.restrictions-NSFW .restrictions:before {
  content:"nsfw";
}

.restrictions-18 .restrictions:before {
  content:"18+";
}

.comment-pages {
  background: var(--darkAccent);
  padding: 2px 0;
  text-align: center;
  margin: 5px 0;
}

.comment-wrapper {
  padding: 0 10px;
  margin-bottom: 30px;
  border-radius: 3px;
}

.comment .footer {
  background: var(--darkAccent);
  padding: 0 2px 2px;
}

.bottomcomment {
  text-align: center;
}

.bottomcomment .entry-management-links, 
.bottomcomment .entry-interaction-links {
  display: block;
  text-align: center;
}

.noentries {
  text-align: center;
  font-weight: bold;
}



/* ARCHIVE, ICONS */

.month .header {
  display: none;
}

table.month {
  width: 100%;
}

table.month th {
  background: var(--darkAccent);
}

table.month .day-has-entries {
  background: var(--darkAccent);
}

.month caption {
  font-size: 30px;
}

.icon-image, 
.icon-info {
  display:inline-block;
  padding: 10px 0 10px 10px;
}



/* MOBILE */

@media (max-width: 1000px) {
  #primary {
    width: 60%;
  }
}

@media (max-width: 900px) {
  #lj_controlstrip, 
  #lj_controlstrip_search {
    text-align: center;
  }
}

@media (max-width: 840px) {
  #primary {
    width: 70%;
  }
  .module-typelist {
    right: inherit;
    left: 10px;
    top: inherit;
    bottom: 100px;
    text-align: left;
  }
}

@media (max-width: 690px) {
  .module-typelist {
    display: none;
  }
  /*FOR IMAGES ON SIDE*/
  .module-navlinks {
    margin-top: 120px;
  }

}




#selectorMain {
  position: fixed;
  top: -120vh;
  right: 0;
  left: 0;
  height: 100vh;
  background: linear-gradient(120deg, #deb9ee, #fcc0e0, #f8ebaa, #bdf8fa, #fcc0e0);
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  overflow-y: auto;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  transition: all 0.4s;
}

#open-close {
  padding: 15px 30px 30px 15px;
  font-size: 25px;
  color: #000;
  background: linear-gradient(120deg, #deb9ee, #fcc0e0, #f8ebaa, #bdf8fa, #fcc0e0);
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 0 0 100px 0;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#open-close:hover {
  text-shadow: 0 0 4px rgba(0,0,0,0.6);
  color: #fff;
}

.imageBlock {
  width: 180px;
  height: 120px;
  margin: 15px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 4px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: transparent;
  letter-spacing: 1px;
  transition: all 0.2s;
}

.imageBlock:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px #000;
  color: #fff;
  text-shadow: 0 0 2px #000, 0 0 4px #000;
}