:root {
  --background: #FCE3D9;
  --accent: #FDFAED;
  --borders: #D26DA0;
  --text: #666;

  --bgImage: center/cover url('https://i.pinimg.com/originals/d3/1c/eb/d31ceba551c61a29d7242e243b4cc151.jpg');

  --font: 'Roboto', sans-serif;
  --headerFont: 'Caveat', sans-serif;
}



/* GENERAL */

body {
  background: var(--accent);
  font-family: var(--font);
  color: var(--text);
}

a {
  color: var(--text);
  font-weight: bold;
  text-decoration: none;
  font-variant: small-caps;
  text-transform: lowercase;
}

a:hover {
  color: var(--borders);
}

input,
select,
button {
  background: var(--borders);
  color: var(--background);
  border: none;
}

input:hover,
select:hover,
button:hover {
  color: var(--accent);
}



/* SCROLLBAR */
/* will not work on all browsers - non-standard */

::-webkit-scrollbar {
  background: var(--background);
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--borders);
}

::-webkit-scrollbar-corner {
  background: transparent;
}



/* HIGHLIGHT */

::selection {
  background: var(--text);
  color: var(--background);
}

::-moz-selection {
  background: var(--text);
  color: var(--background);
}



/* CREDIT */

body::after {
  content: 'by killthecake';
  color: var(--text);
  font-size: 11px;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: 1px;
  position: fixed;
  bottom: 3px;
  left: 5px;
}



/* CONTROL STRIP */

#lj_controlstrip {
  display: none;
}



/* POP-UPS */

.ljuser .ContextualPopup-trigger {
  display: none;
}

.ljuser::before {
  content: "@";
  color: var(--links);
  font-weight: bold;
  font-size: 10px;
  padding: 0 2px 0 4px;
}

.ContextualPopup {
  border: 2px solid var(--borders);
  background: var(--accent);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  color: var(--text);
}

.ContextualPopup a {
  color: var(--text);
}

.ContextualPopup a:hover {
  color: var(--borders);
}



/* HEADER */

#title,
#subtitle,
#pagetitle {
  display: none;
}

#header {
  background: var(--bgImage) fixed;
  position: absolute;
  top: 150px;
  right: 0;
  left: 0;
  height: 150px;
  border: 2px solid var(--borders);
  border-right: none;
  border-left: none;
  z-index: 0;
}



/* NAVIGATION */

.topnav {
  display: none;
}

.bottomnav {
  display: block;
  text-align: center;
  font-size: 10px;
  letter-spacing: 1px;
}

.bottomnav a,
.page-top a {
  text-transform: uppercase;
}

.page-top {
  position: fixed;
  bottom: 5px;
  right: 5px;
  font-size: 10px;
}



/* MODULES */

.module h2, 
.module .manage-link, 
.module-tags_multilevel, 
.module-tags_list, 
.module-tags_cloud, 
.module-customtext, 
.module-cuttagcontrols, 
.module-credit, 
.module-syndicate, 
.module-subscriptionfilters, 
.module-search, 
.module-time, 
.module-powered, 
.module-pagesummary, 
.module-calendar, 
.module-active,
.module-userprofile, 
#tertiary {
  display: none;
}

#secondary {
  z-index: 1;
  position: absolute;
  top: 320px;
  left: 50px;
  float: left;
  width: 250px;
  background: var(--background);
  border: 2px solid var(--borders);
  border-top: none;
}

#secondary .inner:first-child {
  padding: 3px 1em 5px;
}

#secondary a {
  font-size: 16px;
  transition: letter-spacing 0.5s;
}

#secondary a:hover {
  letter-spacing: 1px;
}

.module-navlinks ul,
.module-typelist ul {
  margin: 0;
}

.module-navlinks li,
.module-typelist li {
  list-style-type: none;
  margin: -1px;
  padding: 5px 0;
}



/* ENTRIES */

.comment-date-text,
.comment-from-text,
.comment-ip-text,
.restrictions img, 
.access-filter img,
.sticky-entry-icon,
.entry .userpic {
  display: none;
}

#primary {
  z-index: 1;
  position: relative;
  margin-left: 350px;
  width: 50%;
}

.entry,
.comment {
  background: var(--background);
  border: 2px solid var(--borders);
  margin-bottom: 40px;
}

.comment {
  margin-bottom: 5px;
}

.entry .header,
.comment .header {
  background: var(--borders);
  padding: 0 0 5px 5px;
  color: var(--background);
}

.entry .entry-title,
.entry .entry-title a {
  margin: 0;
  font-size: 32px;
  font-variant: normal;
  text-transform: none;
  padding: 0;
  font-family: var(--headerFont);
}

.entry .datetime,
.entry .datetime a,
.comment .datetime,
.poster-ip {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}

.comment .userpic img {
  width: 75px;
  height: 75px;
  margin: 5px 0 0 5px;
}

.entry .footer,
.comment .footer {
  background: var(--borders);
  color: var(--background);
  padding: 5px;
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: bold;
}

.comment .footer {
  font-size: 15px;
}

.entry .tag {
  padding-left: 5px;
}

.entry .header,
.entry .footer {
  cursor: default;
}

.entry .header a,
.entry .footer a,
.comment .header a,
.comment .footer a {
  color: var(--background);
}

.entry .header a:hover,
.entry .footer a:hover,
.comment .header a:hover,
.comment .footer a:hover {
  color: var(--accent);
}

.entry .entry-content,
.comment .comment-content {
  padding: 10px;
  font-size: 13px;
  text-align: justify;
}

.entry-management-links, 
.entry-interaction-links,
.comment-management-links, 
.comment-interaction-links {
  display: inline;
}

.access-filter,
.restrictions {
  display: inline-block;
  font-weight: bold;
  letter-spacing: 2px;
  font-variant: small-caps;
  text-align: left;
  padding-right: 2px;
}

.security-protected .access-filter:before {
  content: "locked";
}

.security-private .access-filter:before {
  content: "private";
}

.restrictions-NSFW .restrictions:before {
  content:"nsfw";
}

.restrictions-18 .restrictions:before {
  content:"18+";
}

.comment-pages {
  text-align: center;
  margin: 5px 0;
}

.bottomcomment {
  text-align: center;
}

.bottomcomment .entry-management-links, 
.bottomcomment .entry-interaction-links {
  display: block;
  text-align: center;
}

.noentries {
  text-align: center;
  font-weight: bold;
  cursor: default;
}



/* ARCHIVE, TAGS, ICONS */

.header h2 {
  text-decoration: none;
  font-family: var(--headerFont);
  cursor: default;
  font-weight: bold;
}

.tags-container,
.icons-container,
#archive-month,
.month-wrapper {
  background: var(--background);
  padding: 10px;
  border: 2px solid var(--borders);
}

.icon-image, 
.icon-info {
  display:inline-block;
  padding: 10px 0 10px 10px;
}

.month table caption {
  font-family: var(--headerFont);
  font-weight: bold;
  color: var(--text);
}

.month .header {
  display: none;
}

table.month {
  width: 100%;
}

table.month th {
  border-color: var(--borders);
  background: var(--borders);
  color: var(--background);
}

table.month td {
  border-color: var(--borders);
  vertical-align: top;
}

table.month tbody {
  background: var(--light);
}

table.month .day-has-entries {
  background: var(--background);
}

.month caption {
  font-size: 30px;
}



/* MOBILE */

@media (max-width: 900px) {
  #primary {
    margin-left: 250px;
    width: 65%;
  }
  #secondary {
    width: 200px;
  }
}

@media (max-width: 700px) {
  #primary {
    margin: auto;
    width: 90%;
  }
  #secondary {
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
    width: 90%;
    float: none;
    padding-bottom: 10px;
  }
  #secondary .inner:first-child {
    padding: 0;
  }
  .module-navlinks ul,
  .module-typelist ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .module-navlinks li,
  .module-typelist li {
    width: 33%;
    text-align: center;
  }
}

