:root {
  --background: #596caa;
  --inner: #182247;
  --borders: #03050c;

  --text: #ccc;
  --links: #eee;

  --top1: transparent;
  --top2: #165a9b;
  --bottom1: #165a9b;
  --bottom2: transparent;

  --image1: url('https://www.rapidtvnews.com/images/2018/02/bewitched-8-feb-2018.jpg');
  --image2: url('https://www.rapidtvnews.com/images/2018/02/bewitched-8-feb-2018.jpg');

  --backPattern: url('https://www.transparenttextures.com/patterns/rocky-wall.png') fixed;
  --entryImage: bottom right/10% 50px url('http://static.everypixel.com/ep-pixabay/1107/6402/7772/71818/11076402777271818699-white.png') no-repeat;

  --font: 'Poppins', sans-serif;
  --header: 'Engagement', sans-serif;
}



/* GENERAL */

body {
  background: var(--backPattern), var(--background);
  color: var(--text);
  font-family: var(--font);
  font-size: 14px;
  cursor: crosshair;
}

a {
  color: var(--links);
  text-decoration: none;
  text-shadow: 2px 2px 2px var(--borders);
  padding: 0 2px;
  cursor: crosshair;
  border-radius: 5px;
  transition: all 0.5s;
}

a:hover {
  background: var(--links);
  color: var(--inner);
  font-weight: bold;
  text-shadow: none;
}

input,
button,
select {
  background: var(--inner);
  border: 2px solid var(--borders);
  border-radius: 4px;
  color: var(--text);
}

input:hover,
button:hover,
select:hover {
  cursor: crosshair;
  background: var(--borders);
}



/* CREDIT */

body::after {
  content: 'killthecake';
  color: var(--text);
  text-shadow: 2px 2px 2px var(--borders);
  font-size: 12px;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: 2px;
  position: fixed;
  top: 3px;
  right: 5px;
}



/* SCROLLBAR */
/* will not work on all browsers - non-standard */

::-webkit-scrollbar {
  background: var(--background);
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-thumb {
  background: var(--inner);
  border: 5px solid var(--background);
  border-top: none;
  border-bottom: none;
}

::-webkit-scrollbar-corner {
  background: transparent;
}



/* HIGHLIGHT */

::selection {
  background: var(--text);
  color: var(--background);
}

::-moz-selection {
  background: var(--text);
  color: var(--background);
}



/* POP-UPS */

.ljuser .ContextualPopup-trigger {
  display: none;
}

.ljuser::before {
  content: "*";
  color: var(--links);
  text-shadow: 2px 2px 2px var(--borders);
  font-weight: bold;
  font-size: 13px;
}

.ContextualPopup {
  border: 2px solid var(--borders);
  background: var(--inner);
  box-shadow: 0px 0px 4px var(--borders);
  color: var(--text);
}

.ContextualPopup a {
  color: var(--links);
}

.ContextualPopup a:hover {
  color: var(--inner);
}



/* CONTROL STRIP */

#lj_controlstrip {
  display: none;
}



/* HEADER */

#header {
  display: none;
}



/* NAVIGATION */

.topnav {
  display: none;
}

.bottomnav {
  display: block;
  text-align: center;
}

.page-top {
  position: fixed;
  bottom: 5px;
  right: 5px;
  font-size: 12px;
}



/* MODULES */

.module h2, 
.module .manage-link, 
.module-tags_multilevel, 
.module-tags_list, 
.module-tags_cloud, 
.module-customtext, 
.module-cuttagcontrols, 
.module-credit, 
.module-syndicate, 
.module-subscriptionfilters, 
.module-search, 
.module-time, 
.module-powered, 
.module-pagesummary, 
.module-calendar, 
.module-active,
.module-userprofile, 
#tertiary {
  display: none;
}

#secondary {
  background: var(--inner);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-right: 5px solid var(--borders);
}

#secondary a {
  display: block;
  margin: 5px;
  padding: 2px;
  transition: all 0.5s;
}

#secondary a:hover {
  background: var(--links);
  color: var(--inner);
  font-weight: bold;
  text-shadow: none;
}

#secondary::before {
  content: '';
  background: linear-gradient(90deg, var(--top1) 48%, var(--inner) 48%, var(--inner) 52%, var(--top2) 52%), 50%/cover var(--image1);
  height: 33%;
  width: 100%;
}

#secondary::after {
  content: '';
  background: linear-gradient(90deg, var(--bottom1) 48%, var(--inner) 48%, var(--inner) 52%, var(--bottom2) 52%), 50%/cover var(--image2);
  height: 33%;
  width: 100%;
}

.module-navlinks ul,
.module-typelist ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.module-navlinks li,
.module-typelist li {
  list-style-type: none;
  margin: -1px;
  width: 50%;
  text-align: center;
}



/* ENTRIES */

.comment-date-text,
.comment-from-text,
.comment-ip-text,
.restrictions img, 
.access-filter img,
.sticky-entry-icon {
  display: none;
}

#primary {
  margin-left: 340px;
  width: 60%;
}

.entry,
.comment {
  background: var(--entryImage), var(--inner);
  margin-bottom: 40px;
  padding: 10px 20px 20px;
  border-radius: 10px;
  border: 5px solid var(--borders);
}

.comment {
  padding: 5px 10px 10px;
  margin-bottom: 20px;
}

.entry .header {
  text-align: center;
  text-shadow: 2px 2px 0 var(--borders);
}

.entry .entry-title {
  font-family: var(--header);
  font-weight: normal;
  font-size: 35px;
  text-shadow: 2px 2px 0 var(--borders);
  padding: 0 0 10px 0;
  margin: 0;
}

.entry .entry-title a {
  padding: 0 5px;
}

.entry .userpic,
.comment .userpic {
  float: right;
  width: 0;
  position: relative;
  left: 18px;
  bottom: 90px;
}

.comment .userpic {
  left: 8px;
  bottom: 50px;
}

.entry .userpic a:hover,
.comment .userpic a:hover {
  background: none;
}

.entry .userpic img,
.comment .userpic img {
  border-radius: 50% 50% 50% 0%;
  border: 5px solid var(--borders);
  width: 75px;
  height: 75px;
}

.entry-content,
.comment-content {
  text-align: justify;
  padding: 10px 0;
  font-size: 12px;
}

.entry .footer {
  text-shadow: 2px 2px 0 var(--borders);
  color: var(--links);
}

.entry .footer,
.entry-content a {
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}

.entry-management-links, 
.entry-interaction-links,
.comment-management-links, 
.comment-interaction-links {
  display: inline;
}

.access-filter,
.restrictions {
  display: block;
  font-weight: bold;
  letter-spacing: 2px;
  font-variant: small-caps;
  text-align: center;
}

.security-protected .access-filter:before {
  content: "locked";
}

.security-private .access-filter:before {
  content: "private";
}

.restrictions-NSFW .restrictions:before {
  content:"nsfw";
}

.restrictions-18 .restrictions:before {
  content:"18+";
}

.comment-pages {
  text-align: center;
  margin: 5px 0;
}

.bottomcomment {
  text-align: center;
}

.bottomcomment .entry-management-links, 
.bottomcomment .entry-interaction-links {
  display: block;
  text-align: center;
}

.noentries {
  text-align: center;
  font-weight: bold;
  cursor: crosshair;
}



/* ARCHIVE, TAGS, ICONS */

.header h2 {
  text-decoration: none;
  font-family: var(--header);
  cursor: crosshair;
  text-shadow: 2px 2px 0 var(--borders);
  font-weight: normal;
}

.tags-container,
.icons-container,
#archive-month,
.month-wrapper {
  background: var(--entryImage), var(--inner);
  padding: 20px;
  border-radius: 10px;
  border: 5px solid var(--borders);
}

.icon-image, 
.icon-info {
  display:inline-block;
  padding: 10px 0 10px 10px;
}

.month table caption {
  font-family: var(--header);
  color: var(--text);
  text-shadow: 2px 2px 0 var(--borders);
}

.month .header {
  display: none;
}

table.month {
  width: 100%;
}

table.month th {
  background: var(--background);
}

table.month tbody {
  background: var(--light);
}

table.month .day-has-entries {
  background: var(--background);
}

.month caption {
  font-size: 30px;
}



/* MOBILE */

@media (max-width: 1000px) {
  #primary {
    width: 80%;
    margin: auto;
  }
  #secondary {
    position: initial;
    border: none;
    background: none;
    width: 80%;
    margin: auto;
  }
  .module-navlinks li,
  .module-typelist li {
    width: 33%;
  }
}



#selectorMain {
  position: fixed;
  top: -120vh;
  right: 0;
  left: 0;
  height: 100vh;
  background: linear-gradient(120deg, #deb9ee, #fcc0e0, #f8ebaa, #bdf8fa, #fcc0e0);
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  overflow-y: auto;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  z-index: 500;
  transition: all 0.4s;
}

#open-close {
  padding: 15px 30px 30px 15px;
  font-size: 25px;
  color: #000;
  background: linear-gradient(120deg, #deb9ee, #fcc0e0, #f8ebaa, #bdf8fa, #fcc0e0);
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 0 0 100px 0;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.2s ease-in-out;
}

#open-close:hover {
  text-shadow: 0 0 4px rgba(0,0,0,0.6);
  color: #fff;
}

.imageBlock {
  width: 180px;
  height: 120px;
  margin: 15px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 4px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: transparent;
  letter-spacing: 1px;
  transition: all 0.2s;
}

.imageBlock:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px #000;
  color: #fff;
  text-shadow: 0 0 2px #000, 0 0 4px #000;
}