:root {
  --background-image: url("https://cdn.esawebb.org/archives/images/screen/weic2212a.jpg");
  --background-color: #331633;

  --module-backgrounds: rgba(0,0,0,0.4);
  --module-backgrounds-hover: rgba(0,0,0,0.6);

  --borders-text: #c0c0c0;
  --selection: #000;
  --hover: #fff;

  --header-font: 'Berkshire Swash', Arial, Helvetica, sans-serif;
  --font: 'Roboto Condensed', serif;
}



/* GENERAL */

body {
  color: var(--borders-text);
  background: center/cover var(--background-image) fixed no-repeat, var(--background-color);
  font-family: var(--font);
}

a {
  color: var(--borders-text);
  text-decoration: none;
  font-family: var(--header-font);
  transition: all 0.2s;
}

a:hover {
  color: var(--hover);
}

img {
  filter: opacity(50%);
}

input, 
select,
button,
textarea {
  background: var(--module-backgrounds-hover);
  color: var(--hover);
  border: 1px solid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
}



/* SCROLLBAR */
/* will not work on all browsers - non-standard */

::-webkit-scrollbar {
  background: var(--selection);
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--borders-text);
}
::-webkit-scrollbar-corner {
  background: transparent;
}



/* HIGHLIGHT */

::selection {
  background: var(--selection);
  color: var(--hover);
}

::-moz-selection {
  background: var(--selection);
  color: var(--hover);
}



/* CREDIT */

body::after {
  content: 'KillTheCake';
  position: fixed;
  right: 1%;
  bottom: 1%;
  font-size: 14px;
  font-family: var(--header-font);
  font-size: 20px;
  text-align: center;
  text-shadow: 0 0 3px var(--module-backgrounds-hover),
               0 0 2px var(--module-backgrounds-hover),
               0 0 1px var(--module-backgrounds-hover);
  z-index: -1;
}



/* CONTROL STRIP */
#lj_controlstrip {
  display: none;
}



/* HEADER */

#title,
#subtitle,
#pagetitle {
  display: none;
}



/* NAVIGATION */

.topnav {
  display: none;
}

.bottomnav {
  text-shadow: 0 0 3px var(--module-backgrounds-hover),
               0 0 2px var(--module-backgrounds-hover),
               0 0 1px var(--module-backgrounds-hover);
}

.page-top {
  position: fixed;
  bottom: 5px;
  text-shadow: 0 0 3px var(--module-backgrounds-hover),
               0 0 2px var(--module-backgrounds-hover),
               0 0 1px var(--module-backgrounds-hover);
}



/* MODULES */

.module h2, 
.module .manage-link, 
.module-tags_multilevel, 
.module-tags_list, 
.module-tags_cloud, 
.module-userprofile, 
.module-cuttagcontrols, 
.module-credit, 
.module-syndicate, 
.module-subscriptionfilters, 
.module-search, 
.module-time, 
.module-powered, 
.module-pagesummary, 
.module-calendar, 
.module-active,
#tertiary {
  display: none;
}

#secondary {
  height: 20px;
}

.module-navlinks {
  text-align: center;
  width: 94%;
  margin-left: 10px;
  font-size: 12px;
  margin-top: -100px;
  height: 140px;
  position: relative;
  z-index: 1;
  transition: all 0.5s;
}

.module-navlinks:hover {
  margin-top: 0;
  height: 60px;
}

.module-navlinks .module-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.module-navlinks a {
  background: var(--module-backgrounds);
  border: 1px solid;
  padding: 4px;
  display: block;
  width: 150px;
  transition: all 0.2s;
}

.module-navlinks .module-list,
#secondary .inner {
  margin: 0 0 -20px 0;
  padding: 0;
  height: 0;
}

.module-navlinks li,
.module-typelist li {
  list-style-type: none;
  letter-spacing: 2px;
  display: inline-block;
}

#secondary {
  width: 350px;
  margin: 10px;
  float: left;
  position: relative;
  z-index: 0;
}

.module-customtext {
  padding: 10px;
  border: 1px solid;
  text-align: justify;
  font-size: 12px;
  background: var(--module-backgrounds);
  transition: all 0.2s;
}

.module-customtext:hover img {
  filter: opacity(100%);
}

.module-typelist .module-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -1px;
}

.module-typelist li {
  display: flex;
  width: 45%;
}

.module-typelist a {
  padding: 5px;
  border: 1px solid;
  text-align: center;
  width: 100%;
  font-size: 12px;
  background: var(--module-backgrounds);
}

.module-navlinks a:hover,
.module-customtext:hover,
.module-typelist a:hover {
  border-color: var(--hover);
  background: var(--module-backgrounds-hover);
  backdrop-filter: blur(2px);
  box-shadow: 0 0 4px var(--module-backgrounds),
              2px 2px 2px var(--module-backgrounds);
}



/* ENTRIES */

.entry .userpic,
.comment .userpic,
.sticky-entry-icon, 
.restrictions img, 
.access-filter img,
.ljuser img,
.comment-date-text,
.comment-from-text,
.comment-ip-text {
  display: none;
}

#primary {
  float: left;
  height: 0;
  width: 70%;
  position: relative;
  z-index: 0;
}

.entry-wrapper-even {
float: right;
width: 50%;
}
.entry-wrapper-odd {
float: left;
width: 50%;
}

.entry {
  border: 1px solid;
  padding: 0 10px;
  margin: 10px;
  background: var(--module-backgrounds);
  transition: all 0.2s;
}

.entry:hover {
  border-color: var(--hover);
  background: var(--module-backgrounds-hover);
  backdrop-filter: blur(2px);
  box-shadow: 0 0 4px var(--module-backgrounds),
              2px 2px 2px var(--module-backgrounds);
}

.entry:hover img {
  filter: opacity(100%);
}

.entry-title {
  text-align: center;
  font-size: 25px;
  font-family: var(--header-font);
}

.entry .datetime {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: var(--header-font);
}

.entry-content {
  font-size: 13px;
  text-align: justify;
}

.entry .tag {
  font-family: var(--header-font);
  margin-bottom: 10px;
  text-align: left;
}

.entry-management-links, 
.entry-interaction-links,
.comment-management-links, 
.comment-interaction-links {
  display: inline;
  font-size: 14px;
}

.entry .footer {
  margin: 10px 0;
  text-align: center;
}

.access-filter,
.restrictions {
  display: block;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
}

.security-protected .access-filter:before {
  content: "locked";
}

.security-private .access-filter:before {
  content: "private";
}

.restrictions-NSFW .restrictions:before {
  content:"nsfw";
}

.restrictions-18 .restrictions:before {
  content:"18+";
}

.toppages,
.noentries,
.comment {
  clear: both;
}

.comment-wrapper {
  border: 1px solid;
  padding: 0 10px;
  margin: 10px;
  background: var(--module-backgrounds-hover);
  backdrop-filter: blur(2px);
  box-shadow: 0 0 4px var(--module-backgrounds),
              2px 2px 2px var(--module-backgrounds);
}

.comment img {
  filter: opacity(100%);
}

.comment-content,
.comment .datetime,
.poster-ip {
  font-size: 13px;
}

.bottomcomment {
  text-shadow: 0 0 3px var(--module-backgrounds-hover),
               0 0 2px var(--module-backgrounds-hover),
               0 0 1px var(--module-backgrounds-hover);
  text-align: center;
}

.bottomcomment .entry-management-links, 
.bottomcomment .entry-interaction-links {
  display: block;
  text-align: center;
}



/* ARCHIVE, TAGS, ICONS */

dd .access-filter,
dd .restrictions,
.month .header h3 {
  display: none;
}

.month,
.tags-container,
.icons-container {
  border: 1px solid;
  padding: 0 10px 10px;
  margin: 10px;
  background: var(--module-backgrounds-hover);
  backdrop-filter: blur(2px);
  box-shadow: 0 0 4px var(--module-backgrounds),
              2px 2px 2px var(--module-backgrounds);
}

.icons-container img {
  filter: opacity(100%);
}

table.month {
  width: 60%;
}

table.month .day-has-entries {
  background: var(--borders-text);
  color: var(--module-backgrounds-hover);
}

table.month .day-has-entries a {
  color: var(--module-backgrounds-hover);
}

.month caption {
  font-family: var(--header-font);
  font-size: 30px;
}

.icon-image, 
.icon-info {
  display:inline-block;
  padding: 10px 0 10px 10px;
}



/* MOBILE */

@media (max-width: 1200px) {
  #primary,
  #tertiary,
  .entry-wrapper-even,
  .entry-wrapper-odd {
    float: none;
    width: 100%;
  }
  #primary {
    margin: 0;
    height: auto;
  }
  .entry,
  .module-navlinks a,
  .module-customtext,
  .module-typelist a {
    border-color: var(--hover);
    background: var(--module-backgrounds-hover);
    backdrop-filter: blur(2px);
    box-shadow: 0 0 4px var(--module-backgrounds),
                2px 2px 2px var(--module-backgrounds);
  }
  .entry img,
  .module-customtext img {
    filter: opacity(100%);
  }
  .entry {
    margin-bottom: 20px;
  }
  .module-navlinks {
    margin-top: 0;
    margin-left: 15px;
  }
  .module-navlinks a {
    width: auto;
  }
  #tertiary {
    margin: 0;
  }
}




#selectorMain {
  position: fixed;
  top: -120vh;
  right: 0;
  left: 0;
  height: 100vh;
  background: linear-gradient(120deg, #deb9ee, #fcc0e0, #f8ebaa, #bdf8fa, #fcc0e0);
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  overflow-y: auto;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  z-index: 500;
  transition: all 0.4s;
}

#open-close {
  padding: 15px 30px 30px 15px;
  font-size: 25px;
  color: #000;
  background: linear-gradient(120deg, #deb9ee, #fcc0e0, #f8ebaa, #bdf8fa, #fcc0e0);
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 0 0 100px 0;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.2s ease-in-out;
}

#open-close:hover {
  text-shadow: 0 0 4px rgba(0,0,0,0.6);
  color: #fff;
}

.imageBlock {
  width: 180px;
  height: 120px;
  margin: 15px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 4px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: transparent;
  letter-spacing: 1px;
  transition: all 0.2s;
}

.imageBlock:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px #000;
  color: #fff;
  text-shadow: 0 0 2px #000, 0 0 4px #000;
}