:root {
  --backgroundImage: center/cover url('https://cdn.discordapp.com/attachments/1046237617685020682/1111770283523711046/metal.jpg') fixed;
  --background: #a8a8a8;
  --border: #2b2b2b;
  --accent: #cccccc;
  --darkTransparent: rgba(0, 0, 0, 0.9);
  --text: #000000;
  --sidebar: #fff;

  --font: 'Roboto', sans-serif;
  --header: 'Pirata One', sans-serif;
}

body {
  background: var(--backgroundImage), var(--background);
  color: var(--text);
  font-size: 12px;
  font-family: var(--font);
}

a {
  text-decoration: none;
  color: var(--sidebar);
  font-family: var(--header);
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: normal;
}

input,
select,
button {
  background: var(--background);
  border: none;
  font-variant: small-caps;
  font-weight: bold;
  text-transform: lowercase;
  cursor: pointer;
}



/* SCROLLBAR */
/* will not work on all browsers - non-standard */

::-webkit-scrollbar {
  background: var(--background);
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--text);
  border: 2px solid var(--background);
  border-top: none;
  border-bottom: none;
}

::-webkit-scrollbar-corner {
  background: transparent;
}



/* HIGHLIGHT */

::selection {
  background: var(--text);
  color: var(--sidebar);
}

::-moz-selection {
  background: var(--text);
  color: var(--sidebar);
}



/* CREDIT */

body::after {
  content: 'killthecake';
  color: var(--sidebar);
  text-transform: uppercase;
  font-size: 7px;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 0 0 5px 5px;
  position: fixed;
  top: 3px;
  right: 3px;
  z-index: 2;
}



/* CONTROL STRIP */

#lj_controlstrip {
  display: none;
}



/* POP-UPS */

.ljuser .ContextualPopup-trigger {
  display: none;
}

.ljuser::before {
  content: "@";
  color: var(--sidebar);
  font-size: 10px;
  padding: 0 2px 0 10px;
}

.ljuser a:first-child {
  padding: 0;
}

.ContextualPopup {
  border: 2px solid var(--accent);
  background: var(--accent);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  color: var(--text);
}

.ContextualPopup a {
  color: var(--text);
}



/* HEADER */

#header {
  display: none;
}



/* NAVIGATION */

.topnav,
.page-top {
  display: none;
}

.bottomnav {
  text-align: center;
  margin-bottom: 50px;
}

.bottomnav a {
  color: var(--sidebar);
  background: var(--border);
  padding: 5px 8px;
  font-size: 16px;
}



/* MODULES */

.module h2,
.module .manage-link, 
.module-tags_cloud, 
.module-tags_multilevel, 
.module-tags_list,
.module-cuttagcontrols, 
.module-credit, 
.module-syndicate, 
.module-subscriptionfilters, 
.module-search, 
.module-time, 
.module-powered, 
.module-pagesummary, 
.module-calendar, 
.module-active,
.module-userprofile, 
.module-customtext, 
#tertiary {
  display: none;
}

#secondary a {
  font-size: 20px;
  color: var(--accent);
  background: linear-gradient(180deg, var(--sidebar), transparent) no-repeat;
  background-size: 100% 0%;
  background-position: bottom;
  transition: all 0.5s, background-position 0s;
}

#secondary a:hover {
  background-size: 100% 100%;
  background-position: top;
  color: var(--text) !important;
  transition: all 0.5s, background-position 0s;
}

.module-navlinks ul,
.module-typelist ul {
  margin: 0;
}

.module-navlinks li,
.module-typelist li {
  list-style-type: none;
  padding: 5px 0;
}

.module-typelist {
  background: var(--darkTransparent);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 20px;
  width: 250px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.module-typelist .module-content {
  width: 100%;
}

.module-typelist li {
  margin: 0;
  padding: 0;
}

.module-typelist a {
  display: block;
  width: 100%;
  padding: 8px 8px 4px;
  margin: 20px 0;
}

.module-navlinks {
  background: var(--darkTransparent);
  position: fixed;
  bottom: 20px;
  left: 270px;
  right: 0;
}

.module-navlinks ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.module-navlinks li {
  text-align: center;
  margin: 0;
  padding: 0;
}

.module-navlinks a {
  display: block;
  width: 100%;
  padding: 8px 8px 4px;
}



/* ENTRIES */

.comment-date-text,
.comment-from-text,
.comment-ip-text,
.restrictions img, 
.access-filter img,
.sticky-entry-icon,
.entry .userpic,
.comment .userpic {
  display: none;
}

#primary {
  width: 60%;
  margin-left: 400px;
}

.entry {
  border: 8px double var(--border);
  margin-bottom: 40px;
}

.entry .entry-title {
  background: var(--border);
  color: var(--sidebar);
  font-family: var(--header);
  margin: 0;
  padding: 5px 10px 10px 10px;
  font-weight: normal;
  font-size: 25px;
}

.entry .entry-title a {
  text-transform: capitalize;
  font-size: 25px;
}

.entry .datetime {
  background: var(--border);
  display: block;
  padding: 0 0 5px 10px;
  color: var(--sidebar);
  font-family: var(--header);
  text-transform: uppercase;
  font-size: 10px;
}

.entry .datetime a {
  font-size: 10px;
}

.entry .entry-poster {
  display: block;
  font-size: 9px;
  padding: 2px 0;
  letter-spacing: 1px;
  background: var(--border);
  color: var(--sidebar);
}

.access-filter,
.restrictions {
  display: block;
  font-weight: bold;
  letter-spacing: 2px;
  font-variant: small-caps;
  padding: 0 0 10px 10px;
  background: var(--border);
  color: var(--sidebar);
}

.security-protected .access-filter:before {
  content: "locked";
}

.security-private .access-filter:before {
  content: "private";
}

.restrictions-NSFW .restrictions:before {
  content:"nsfw";
}

.restrictions-18 .restrictions:before {
  content:"18+";
}

.entry .entry-content {
  text-align: justify;
  padding: 20px;
  background: var(--background);
}

.entry .entry-content a:hover {
  color: var(--border);
}

.entry .footer {
  background: var(--border);
  font-family: var(--header);
  font-size: 14px;
  text-align: right;
  padding: 10px 10px 5px 10px;
  color: var(--sidebar);
}

.entry .tag {
  float: left;
}

.entry .tag a {
  font-size: 14px;
}

.entry-management-links, 
.entry-interaction-links,
.comment-management-links, 
.comment-interaction-links {
  display: inline;
}

.entry-management-links a, 
.entry-interaction-links a,
.comment-management-links a, 
.comment-interaction-links a {
  padding: 0 2px;
  font-size: 14px;
}

.comment-wrapper {
  border: 4px solid var(--border);
  margin-bottom: 40px;
  background: var(--background);
  padding: 0;
}

.comment .comment-title {
  background: var(--border);
  margin: 0 0 2px 0;
  padding: 5px;
}

.comment .footer {
  background: var(--border);
  padding: 5px;
  color: var(--sidebar);
}

.comment .comment-content {
  padding: 5px 10px;
  text-align: justify;
}

.comment .datetime,
.comment .poster-ip {
  font-weight: bold;
  cursor: default;
  color: var(--accent);
  padding: 5px;
}

.comment-pages {
  text-align: center;
  margin: 5px 0;
}

.bottomcomment {
  text-align: center;
}

.bottomcomment .entry-management-links, 
.bottomcomment .entry-interaction-links {
  display: block;
  text-align: center;
}

.bottompages {
  margin-bottom: 50px;
}

.noentries {
  text-align: center;
  font-weight: bold;
  cursor: default;
}



/* ARCHIVE, TAGS, ICONS */

.header h2 {
  text-decoration: none;
  cursor: default;
  font-weight: normal;
  font-size: 20px;
  color: var(--sidebar);
  font-family: var(--header);
  margin: 0;
  padding: 0;
  font-size: 24px;
}

.tags-container,
.icons-container,
.month-wrapper {
  padding: 10px;
}

#archive-month {
  padding: 1px 12px;
}

.tags-container,
.icons-container,
#archive-month {
  border: 4px solid var(--border);
  margin-bottom: 40px;
  background: var(--background);
  padding: 30px;
}

.tags-container .inner,
.icons-container .inner {
  padding: 2px 5px 5px;
}

.icon-image, 
.icon-info {
  display: inline-block;
  padding: 10px 0 10px 10px;
}

.icon-image a {
  background: transparent;
}

.month dt {
  padding: 5px;
}

.month table caption {
  font-weight: bold;
}

.month .header {
  display: none;
}

table.month {
  width: 100%;
}

table.month th {
  border-color: var(--border);
  background: var(--border);
  color: var(--sidebar);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

table.month td {
  border-color: var(--border);
  background: var(--darkTransparent);
  vertical-align: top;
  color: var(--sidebar);
}

.month caption {
  font-size: 30px;
  font-family: var(--header);
  font-weight: normal !important;
}



/* CUSTOM */

.customLink {
  font-size: 32px;
  letter-spacing: 0;
  text-transform: capitalize;
  filter: grayscale(100%);
  transition: all 1s;
}

.customLink:hover {
  transform: rotateY(360deg);
  filter: grayscale(0%);
  transition: all 1s;
}



/* MOBILE */

@media (max-width: 1200px) { 
  #primary {
    margin-left: 300px;
  }
}

@media (max-width: 800px) {
  .module-typelist {
    width: 200px;
  }
  .module-navlinks {
    left: 220px;
  }
  #primary {
    margin-left: 250px;
  }
}

@media (max-width: 700px) {
  .module-typelist {
    top: 15px;
    left: 0;
    right: 0;
    width: 100%;
    height: 20px;
  }
  .module-typelist ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }
  .module-navlinks {
    left: 0px;
  }
  #primary {
    width: 90%;
    margin: auto;
  }
}


