:root {
  --background: rgba(255, 255, 255, 0.8);
  --backgroundSolid: #fff;
  --backgroundImage: center/cover url('https://cdn.discordapp.com/attachments/1046237617685020682/1145832449297895505/lsknlqcnihza1.jpg') fixed;
  --accent1: #062743;
  --accent2: #113A5D;
  --accent3: #FF7A8A;

  --font: 'Abel', sans-serif;
  --header: 'Hurricane', sans-serif;
}

body {
  background: linear-gradient(90deg, var(--background), var(--background)), var(--backgroundImage);
  font: 0.9rem var(--font);
  color: var(--accent1);
}

a {
  color: var(--accent3);
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
}

a:hover {
  text-decoration: underline;
}

input,
select,
button {
  background: var(--accent2);
  border: 2px solid var(--accent1);
  font-weight: bold;
  cursor: pointer;
  color: var(--backgroundSolid);
}



/* SCROLLBAR */
/* will not work on all browsers - non-standard */

::-webkit-scrollbar {
  background: var(--backgroundSolid);
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent3);
  border: 2px solid var(--backgroundSolid);
  border-top: none;
  border-bottom: none;
}

::-webkit-scrollbar-corner {
  background: transparent;
}



/* HIGHLIGHT */

::selection {
  background: var(--accent3);
  color: var(--backgroundSolid);
}

::-moz-selection {
  background: var(--accent3);
  color: var(--backgroundSolid);
}



/* CREDIT */

body::after {
  content: 'killthecake';
  color: var(--accent3);
  text-transform: uppercase;
  font-size: 8px;
  font-weight: bold;
  letter-spacing: 3px;
  position: fixed;
  bottom: 8px;
  right: 8px;
  z-index: 2;
}



/* CONTROL STRIP */

#lj_controlstrip {
  display: none;
}



/* POP-UPS */

.ljuser .ContextualPopup-trigger {
  display: none;
}

.ljuser::before {
  content: "x";
  color: var(--accent3);
  font-weight: bold;
  font-size: 10px;
}

.ljuser a:first-child {
  padding: 0;
}

.ljuser a {
  font-family: var(--font);
  text-transform: uppercase;
  font-size: 10px;
  padding: 0 2px;
  letter-spacing: 1px;
}

.ContextualPopup {
  border: 2px solid var(--accent1);
  background: var(--backgroundSolid);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  color: var(--accent1);
}

.ContextualPopup a {
  color: var(--accent3);
}



/* HEADER */

#header {
  display: none;
}



/* NAVIGATION */

.topnav {
  display: none;
}

.bottomnav {
  text-align: center;
  text-shadow: 1px 1px 2px var(--backgroundSolid);
  background: var(--background);
  border: 5px solid var(--accent1);
  padding: 1px 0;
  margin-bottom: 30px;
}

.bottomnav a {
  padding: 0;
  margin: 0;
}

.page-top {
  background: linear-gradient(90deg, var(--accent1), transparent);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px;
}



/* MODULES */

.module h2,
.module .manage-link, 
.module-tags_cloud, 
.module-tags_multilevel, 
.module-tags_list,
.module-cuttagcontrols, 
.module-credit, 
.module-customtext,
.module-syndicate, 
.module-subscriptionfilters, 
.module-search, 
.module-time, 
.module-powered, 
.module-pagesummary, 
.module-calendar, 
.module-active,
.module-userprofile, 
#tertiary {
  display: none;
}

#secondary ul {
  margin: 0;
}

#secondary li {
  list-style-type: none;
  font-weight: bold;
  color: var(--accent3);
  padding: 0;
  margin: 0;
}

#secondary a:hover {
  text-decoration: none;
}

.module-navlinks {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(90deg, transparent, var(--accent1) 40%);
}

.module-navlinks ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px 20px;
  font-size: 18px;
}

.module-navlinks li {
  margin-left: 50px !important;
}

.module-navlinks li:hover {
  list-style-type: none !important;
}

.module-navlinks a {
  background: linear-gradient(90deg, var(--accent3), var(--accent3)) no-repeat;
  padding: 0 8px 2px;
  background-size: 0% 100%;
  background-position: right;
  transition: all 0.2s, background-position 0s;
}

.module-navlinks a:hover {
  background-size: 100% 100%;
  color: var(--accent1);
  background-position: left;
  transition: all 0.2s, background-position 0s;
}

.module-typelist {
  position: fixed;
  top: 43px;
  right: 0;
  bottom: 0;
  width: 15%;
  border-left: 2px solid var(--backgroundSolid);
  background: linear-gradient(90deg, var(--background), transparent);
  padding: 5px 10px 5px 15px;
}

.module-typelist li {
  display: block;
  margin: 10px 0 !important;
  border: 2px solid var(--backgroundSolid);
  background: var(--background);
  border-radius: 10px;
  overflow: hidden;
}

.module-typelist a {
  display: block;
  background: linear-gradient(90deg, var(--accent1), var(--accent2)) no-repeat;
  padding: 5px 10px;
  background-size: 0% 100%;
  background-position: right;
  transition: all 0.4s, background-position 0s;
}

.module-typelist a:hover {
  background-size: 100% 100%;
  background-position: left;
  transition: all 0.4s, background-position 0s;
}



/* ENTRIES */

.comment-date-text,
.comment-from-text,
.comment-ip-text,
.restrictions img,
.access-filter img,
.sticky-entry-icon,
.comment .userpic {
  display: none;
}

#primary {
  width: 80%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#primary > .inner {
  width: 80%;
}

.entry {
  margin: 20px 0 40px;
  border: 5px solid var(--accent1);
  background: var(--background);
}

.entry .header {
  background: var(--accent1);
  color: var(--accent3);
  padding: 5px 15px 10px;
}

.entry .header a {
  font-style: normal;
}

.entry .entry-title {
  margin: 0;
  padding: 0;
  font: 32px var(--header);
  font-style: normal;
  font-weight: bold;
}

.entry .datetime {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.entry .entry-poster {
  background: var(--accent1);
  display: block;
  padding: 0 0 5px 15px;
}

.access-filter,
.restrictions {
  display: block;
  font-weight: bold;
  letter-spacing: 2px;
  font-variant: small-caps;
  padding-right: 2px;
  font-size: 16px;
  color: var(--accent3);
}

.security-protected .access-filter:before {
  content: "locked";
}

.security-private .access-filter:before {
  content: "private";
}

.restrictions-NSFW .restrictions:before {
  content:"nsfw";
}

.restrictions-18 .restrictions:before {
  content:"18+";
}

.entry .userpic {
  height: 0;
  position: relative;
  right: 100px;
  bottom: 74px;
}

.entry .userpic img {
  width: 75px;
  height: auto;
  border: 3px solid transparent;
  outline: 8px solid var(--accent1);
}

.entry .userpic img:hover {
  border: none;
  border: 3px solid var(--accent3);
}

.entry .entry-content {
  padding: 10px;
}

.entry .entry-content a {
  text-shadow: 1px 1px 2px var(--backgroundSolid);
}

.entry .footer {
  font-size: 13px;
  text-align: right;
  font-weight: bold;
  padding: 20px 10px 10px;
  text-shadow: 1px 1px 2px var(--backgroundSolid);
}

.entry .tag {
  float: left;
  color: var(--accent1);
}

.entry-management-links, 
.entry-interaction-links,
.comment-management-links, 
.comment-interaction-links {
  display: inline;
}

.entry-management-links a, 
.entry-interaction-links a,
.comment-management-links a, 
.comment-interaction-links a {
  padding: 0 2px;
}

.comment {
  margin-bottom: 20px;
  border: 5px solid var(--accent1);
  background: var(--background);
}

.comment .comment-content {
  padding: 5px;
  text-align: justify;
}

.comment .datetime,
.comment .poster-ip {
  font-weight: bold;
  cursor: default;
}

.comment .header {
  background: var(--accent1);
  color: var(--accent3);
  padding: 5px 15px 10px;
}

.comment .ljuser {
  padding-left: 10px;
}

.comment .footer {
  font-weight: bold;
  background: var(--accent1);
  color: var(--accent3);
  padding: 5px 15px;
}

.comment-pages {
  text-align: center;
  margin: 5px 0;
}

.bottomcomment,
.comment-pages {
  text-align: center;
  color: var(--accent1);
}

.bottomcomment a,
.comment-pages a {
  color: var(--accent1);
  padding: 0 2px;
  font-weight: normal;
  font-weight: bold;
}

.bottomcomment a:hover,
.comment-pages a:hover {
  color: var(--accent2);
}

.bottomcomment .entry-management-links, 
.bottomcomment .entry-interaction-links {
  display: block;
  text-align: center;
}

.noentries {
  text-align: center;
  font-weight: bold;
  cursor: default;
}



/* ARCHIVE, TAGS, ICONS */

.empty {
  display: none;
}

.header h2 {
  text-decoration: none;
  cursor: default;
  font-weight: bold !important;
  font: 32px var(--header);
  color: var(--accent1);
  margin: 0;
  padding: 0;
}

.tags-container,
.icons-container,
.month-wrapper {
  padding: 10px;
  background: var(--background);
  margin-top: 20px;
}

#archive-month {
  padding: 1px 12px;
  background: var(--background);
  margin-top: 20px;
}

.tags-container,
.icons-container,
#archive-month {
  margin-bottom: 40px;
  padding: 30px;
  border: 10px solid var(--accent1);
}

.tags-container .inner,
.icons-container .inner {
  padding: 2px 5px 5px;
}

.icon-image, 
.icon-info {
  display: inline-block;
  padding: 10px 0 10px 10px;
}

.icon-image a {
  background: transparent;
}

.month dt {
  padding: 5px;
}

.month table caption {
  font-weight: bold;
}

.month .header {
  display: none;
}

table.month {
  width: 80%;
  margin: 5px auto;
}

table.month th {
  border-color: var(--accent1);
  background: var(--accent1);
  color: var(--backgroundSolid);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  text-align: center;
}

table.month td {
  border-color: var(--accent1);
  vertical-align: top;
  background: var(--background);
}

table.month td a {
  font-weight: bold;
}

.month caption {
  font: 32px var(--header);
  color: var(--accent1);
}

.month .footer {
  text-align: center;
}

.month .footer a {
  color: var(--accent1);
}

.month .footer a:hover {
  color: var(--accent2);
}



/* MOBILE */

@media (max-width: 800px) {
  .module-navlinks ul {
    font-size: 14px;
  }
  .module-navlinks li {
    margin-left: 20px !important;
  }
  .module-typelist {
    top: 39px;
  }
}

@media (max-width: 720px) {
  .module-typelist {
    display: none;
  }
  .entry .userpic {
    display: none;
  }
  #primary {
    margin: auto;
    width: 100%;
    align-items: initial;
  }
  #primary > .inner {
    width: initial;
  }
}



#selectorMain {
  position: fixed;
  top: -120vh;
  right: 0;
  left: 0;
  height: 100vh;
  background: linear-gradient(120deg, #deb9ee, #fcc0e0, #f8ebaa, #bdf8fa, #fcc0e0);
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  overflow-y: auto;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  z-index: 500;
  transition: all 0.4s;
}

#open-close {
  padding: 15px 30px 30px 15px;
  font-size: 25px;
  color: #000;
  background: linear-gradient(120deg, #deb9ee, #fcc0e0, #f8ebaa, #bdf8fa, #fcc0e0);
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 0 0 100px 0;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.2s ease-in-out;
}

#open-close:hover {
  text-shadow: 0 0 4px rgba(0,0,0,0.6);
  color: #fff;
}

.imageBlock {
  width: 180px;
  height: 120px;
  margin: 15px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 4px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: transparent;
  letter-spacing: 1px;
  transition: all 0.2s;
}

.imageBlock:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px #000;
  color: #fff;
  text-shadow: 0 0 2px #000, 0 0 4px #000;
}