:root {
  --backgroundImage: url('');
  --background: #f5cac3;
  --sidebarImage: url('');
  --sidebar: #f28482;
  --main: #f7ede2;
  --text: #333;

  --sideLinks: rgba(255, 255, 255, 0.5);
  --sideHover: rgba(255, 255, 255, 0.8);

  --font: 'Roboto', sans-serif;
  --headerFont: 'Gruppo', sans-serif;
}

body {
  font-family: var(--font);
  font-size: 12px;
  background: var(--backgroundImage), var(--background);
  color: var(--text);
}

#canvas {
  width: 60%;
  height: 60vh;
  overflow: hidden;
  margin: 8% auto;
  border-radius: 25px;
  background: var(--main);
  border: 2px solid var(--main);
}

a {
  text-decoration: none;
  color: var(--text);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  background: linear-gradient(90deg, var(--background), var(--background)) no-repeat;
  background-position: bottom center;
  background-size: 85% 30%;
  padding: 0 2px;
}

a:hover {
  background: linear-gradient(90deg, var(--sidebar), var(--sidebar)) no-repeat;
  background-position: bottom center;
  background-size: 85% 30%;
}

input,
button,
select {
  background: var(--sidebar);
  color: var(--main);
  border: none;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}



/* SCROLLBAR */
/* will not work on all browsers - non-standard */

#secondary::-webkit-scrollbar {
  background: var(--sidebar);
  width: 10px;
  height: 10px;
}

#primary::-webkit-scrollbar {
  background: var(--main);
  width: 10px;
  height: 10px;
}

#secondary::-webkit-scrollbar-thumb {
  background: var(--background);
}

#primary::-webkit-scrollbar-thumb {
  background: var(--sidebar);
}

::-webkit-scrollbar-corner {
  background: transparent;
}



/* HIGHLIGHT */

::selection {
  background: var(--text);
  color: var(--background);
}

::-moz-selection {
  background: var(--text);
  color: var(--background);
}



/* CREDIT */

body::after {
  content: 'killthecake';
  color: var(--sidebar);
  font-size: 11px;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: 2px;
  position: fixed;
  bottom: 3px;
  left: 8px;
}



/* CONTROL STRIP */

#lj_controlstrip {
  display: none;
}



/* POP-UPS */

.ljuser .ContextualPopup-trigger {
  display: none;
}

.ljuser::before {
  content: "@";
  color: var(--text);
  font-weight: bold;
  font-size: 10px;
  padding: 0 2px 0 4px;
}

.ljuser a:first-child {
  padding: 0;
}

.ContextualPopup {
  border: 2px solid var(--main);
  background: var(--main);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  color: var(--text);
}

.ContextualPopup a {
  color: var(--text);
}


/* HEADER */

#header {
  display: none;
}



/* NAVIGATION */

.topnav,
.page-top {
  display: none;
}

.bottomnav {
  text-align: right;
  padding-right: 15px;
}



/* MODULES */

.module h2,
.module .manage-link, 
.module-tags_cloud, 
.module-tags_multilevel, 
.module-tags_list,
.module-customtext, 
.module-cuttagcontrols, 
.module-credit, 
.module-syndicate, 
.module-subscriptionfilters, 
.module-search, 
.module-time, 
.module-powered, 
.module-pagesummary, 
.module-calendar, 
.module-active,
.module-userprofile, 
#tertiary {
  display: none;
}

#secondary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--sidebarImage), var(--sidebar);
  width: 200px;
  float: left;
  position: fixed;
  margin-top: -2px;
  margin-left: -2px;
  height: 60vh;
  overflow-y: auto;
  border-radius: 25px 0 0 25px;
  border: 2px solid var(--sidebar);
}

.module-navlinks ul,
.module-typelist ul {
  margin: 0;
  text-align: center;
}

.module-navlinks li,
.module-typelist li {
  list-style-type: none;
  margin: -1px;
  padding: 5px 0;
}

.module-navlinks a,
.module-typelist a {
  display: block;
  background: var(--sideLinks);
  width: 90%;
  margin: auto;
  padding: 4px 0;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 10px;
}

.module-navlinks a:hover,
.module-typelist a:hover {
  background: var(--sideHover);
}



/* ENTRIES */

.comment-date-text,
.comment-from-text,
.comment-ip-text,
.restrictions img, 
.access-filter img,
.sticky-entry-icon,
.entry .userpic,
.comment .userpic,
.entry .time {
  display: none;
}

#primary {
  height: 60vh;
  overflow-y: auto;
}

.entry {
  margin: 0 15px 40px 220px;
  border-bottom: 2px solid var(--sidebar);
  padding-bottom: 5px;
}

.entry .entry-title,
.entry .entry-title a {
  font-family: var(--headerFont);
  font-size: 28px;
  text-transform: none;
}

.entry .entry-content {
  text-align: justify;
  padding-bottom: 10px;
}

.entry .entry-content a {
  font-family: var(--headerFont);
  font-weight: bold;
  text-transform: none;
  font-size: 13px;
}

.entry .footer {
  text-align: right;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}

.entry-management-links, 
.entry-interaction-links,
.comment-management-links, 
.comment-interaction-links {
  display: inline;
}

.entry .tag {
  float: left;
}

.access-filter,
.restrictions {
  display: block;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 8px;
  text-align: left;
  margin: 10px 2px 0 0;
}

.security-protected .access-filter:before {
  content: "locked";
}

.security-private .access-filter:before {
  content: "private";
}

.restrictions-NSFW .restrictions:before {
  content:"nsfw";
}

.restrictions-18 .restrictions:before {
  content:"18+";
}

#comments {
  margin: 0 15px 40px 220px;
}

.comment-wrapper {
  padding: 10px 20px;
}

.comment .comment-content {
  padding: 5px 0;
  text-align: justify;
}

.comment .datetime,
.comment .poster-ip {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: default;
}

.comment-pages {
  text-align: center;
  margin: 5px 0;
}

.bottomcomment {
  text-align: center;
}

.bottomcomment .entry-management-links, 
.bottomcomment .entry-interaction-links {
  display: block;
  text-align: center;
}

.noentries {
  text-align: center;
  font-weight: bold;
  cursor: default;
}



/* ARCHIVE, TAGS, ICONS */

.header h2 {
  text-decoration: none;
  cursor: default;
  font-weight: bold;
  font-size: 28px;
  color: var(--sidebar);
  font-family: var(--headerFont);
}

.tags-container,
.icons-container,
.month-wrapper,
#archive-month {
  margin: 0 15px 40px 220px;
}

.icon-image, 
.icon-info {
  display:inline-block;
  padding: 10px 0 10px 10px;
}

.icon-image a {
  background: transparent;
}

.month table caption {
  font-weight: bold;
}

.month .header {
  display: none;
}

table.month {
  width: 80%;
  margin: auto;
}

table.month th {
  border-color: var(--sidebar);
  background: var(--sidebar);
  color: var(--main);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: default;
}

table.month td {
  border-color: var(--sidebar);
  vertical-align: top;
}

.month caption {
  color: var(--sidebar);
  font-family: var(--headerFont);
  cursor: default;
  font-size: 28px;
}



/* MOBILE */

@media (max-width: 900px) {
  #canvas {
    height: 70vh;
  }
  #secondary {
    width: 100%;
    float: none;
    position: initial;
    height: 100px;
    border-radius: 25px 25px 0 0;
  }
  #secondary .inner,
  .module-content ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
  li.module-list-item,
  .module-navlinks a,
  .module-typelist a {
    display: inline-block;
    width: 150px;
    margin: 0 2px;
  }
  .module-navlinks li,
  .module-typelist li {
    width: fit-content;
  }
  #primary {
    height: 55vh;
  }
  .entry,
  #comments,
  .tags-container,
  .icons-container,
  .month-wrapper,
  #archive-month {
    margin: 0 15px 40px 15px;
  }
}

@media (max-width: 700px) {
  #canvas {
    width: 80%;
    height: 80vh;
  }
  #primary {
    height: 65vh;
  }
}