:root {
  --background: #111;
  --text: #aaa;
  --accent1: #222;
  --accent2: #ff0000;
  --accent3: #fff;

  --texture: url('https://www.transparenttextures.com/patterns/cubes.png');

  --font: 'Roboto', sans-serif;
  --header: 'Gruppo', sans-serif;
}

body {
  background: var(--background);
  color: var(--text);
  font: 12px var(--font);
}

a {
  color: var(--accent2);
  text-decoration: none;
  font-weight: bold;
  transition: all 0.4s;
}

a:hover {
  color: var(--accent3);
  text-shadow: 0 0 2px var(--accent2), 
               0 0 4px var(--accent2), 
               0 0 6px var(--accent2), 
               0 0 8px var(--accent2);
  transition: all 0.4s;
}

input,
select,
button {
  background: var(--background);
  border: 2px solid var(--accent1);
  font-weight: bold;
  cursor: pointer;
  color: var(--text);
}



/* SCROLLBAR */
/* will not work on all browsers - non-standard */

::-webkit-scrollbar {
  background: var(--background);
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent2);
  border: 4px solid var(--background);
  border-top: none;
  border-bottom: none;
}

::-webkit-scrollbar-corner {
  background: transparent;
}



/* HIGHLIGHT */

::selection {
  background: var(--accent1);
  color: var(--text);
}

::-moz-selection {
  background: var(--accent1);
  color: var(--text);
}



/* CREDIT */

body::after {
  content: 'killthecake';
  color: var(--accent2);
  background: var(--background);
  font-size: 8px;
  font-weight: bold;
  letter-spacing: 2px;
  position: fixed;
  bottom: 13px;
  left: 8px;
  z-index: 2;
}



/* CONTROL STRIP */

#lj_controlstrip {
  display: none;
}



/* POP-UPS */

.ljuser .ContextualPopup-trigger {
  display: none;
}

.ljuser a:first-child {
  padding: 0;
}

.ljuser a {
  font: 10px var(--font);
  text-transform: uppercase;
  padding: 0 2px;
  letter-spacing: 1px;
}

.ContextualPopup {
  border: 2px solid var(--accent1);
  background: var(--background);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  color: var(--text);
}

.ContextualPopup a {
  color: var(--accent1);
}



/* HEADER */

#subtitle,
#pagetitle,
#title a {
  display: none;
}

#header {
  background: var(--texture);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
  padding: 0;
  z-index: -1;
}

#title {
  background: linear-gradient(180deg, transparent, var(--background));
  margin: 0;
  height: 200px;
}



/* NAVIGATION */

.topnav {
  display: none;
}

.bottomnav {
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 2px;
}

.page-top {
  text-transform: lowercase;
  font-size: 8px;
  font-weight: bold;
  letter-spacing: 2px;
  position: fixed;
  bottom: 8px;
  right: 8px;
  padding: 5px;
  background: var(--background);
}



/* MODULES */

#secondary, 
#tertiary {
  display: none;
}



/* ENTRIES */

.comment-date-text,
.comment-from-text,
.comment-ip-text,
.restrictions img,
.access-filter img,
.sticky-entry-icon,
.entry .userpic,
.comment .userpic {
  display: none;
}

#primary {
  width: 70%;
  text-align: justify;
  margin: auto;
}

.entry {
  margin: 20px 0;
  padding: 20px 5px 30px;
  border-bottom: 2px solid var(--accent1);
}

.entry .entry-title {
  font: 30px var(--header);
  font-weight: bold;
}

.entry .datetime {
  color: var(--accent2);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}

.access-filter,
.restrictions {
  display: block;
  font-weight: bold;
  letter-spacing: 2px;
  font-variant: small-caps;
  padding-right: 2px;
  font-size: 16px;
  color: var(--accent2);
}

.security-protected .access-filter:before {
  content: "locked";
}

.security-private .access-filter:before {
  content: "private";
}

.restrictions-NSFW .restrictions:before {
  content:"nsfw";
}

.restrictions-18 .restrictions:before {
  content:"18+";
}

.entry .entry-content {
  margin: 10px 0;
}

.entry .footer {
  font-size: 10px;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 0;
  padding: 5px 0;
  cursor: default;
}

.entry .tag {
  float: left;
  letter-spacing: 1px;
}

.entry-management-links, 
.entry-interaction-links,
.comment-management-links, 
.comment-interaction-links {
  display: inline;
}

.entry-management-links a, 
.entry-interaction-links a,
.comment-management-links a, 
.comment-interaction-links a {
  padding: 0 2px;
}

.comment {
  margin-bottom: 20px;
}

.comment .comment-content {
  padding: 0 15px;
  text-align: justify;
}

.comment .datetime,
.comment .poster-ip {
  font-weight: bold;
  cursor: default;
}

.comment .header {
  padding: 5px 5px 10px;
}

.comment .ljuser {
  padding-left: 10px;
}

.comment .footer {
  font-weight: bold;
  padding: 5px 0;
}

.comment-pages {
  text-align: center;
  margin: 5px 0;
}

.bottomcomment,
.comment-pages {
  text-align: center;
  color: var(--accent2);
}

.bottomcomment a,
.comment-pages a {
  color: var(--accent2);
  padding: 0 2px;
  font-weight: normal;
  font-weight: bold;
}

.bottomcomment a:hover,
.comment-pages a:hover {
  color: var(--accent3);
}

.bottomcomment .entry-management-links, 
.bottomcomment .entry-interaction-links {
  display: block;
  text-align: center;
}

.noentries {
  text-align: center;
  font-weight: bold;
  cursor: default;
}



/* ARCHIVE, TAGS, ICONS */

.empty {
  display: none;
}

.header h2 {
  text-decoration: none;
  cursor: default;
  font: 32px var(--header);
  color: var(--accent2);
  margin: 0;
  padding: 0;
}

.tags-container,
.icons-container,
.month-wrapper {
  padding: 5px;
  margin-top: 20px;
}

#archive-month {
  padding: 1px 12px;
  margin-top: 20px;
}

.tags-container,
.icons-container,
#archive-month {
  margin-bottom: 40px;
  padding: 5px;
}

.tags-container .inner,
.icons-container .inner {
  padding: 2px 5px 5px;
}

.icon-image, 
.icon-info {
  display: inline-block;
  padding: 10px 0 10px 10px;
}

.icon-image a {
  background: transparent;
}

.month dt {
  padding: 5px;
}

.month table caption {
  font-weight: bold;
}

.month .header {
  display: none;
}

table.month {
  width: 80%;
  margin: 5px auto;
}

table.month th {
  border-color: var(--accent2);
  background: var(--accent2);
  color: var(--background);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  text-align: center;
}

table.month td {
  border-color: var(--accent2);
  vertical-align: top;
  background: var(--background);
}

table.month td a {
  font-weight: bold;
}

.month caption {
  font: 32px var(--header);
  color: var(--accent2);
  padding-bottom: 10px;
}

.month .footer {
  text-align: center;
}

.month .footer a {
  color: var(--accent2);
}

.month .footer a:hover {
  color: var(--accent3);
}



/* MOBILE */

@media (max-width: 900px) {
  #primary {
    width: 80%;
  }
}

@media (max-width: 700px) {
  #primary {
    width: 100%;
  }
}