:root {
  --backgroundImage: url('https://cdn.discordapp.com/attachments/898383258516090921/1099174983915278376/Aurora-Borealis.jpg');
  --background: #fff;
  --backgroundO: rgba(255,255,255,0.5);
  --text: #151f1d;
  --accent1: #CBFDE5;
  --accent2: #E0664A;

  --font: 'Roboto', sans-serif;
  --header: 'Homemade Apple', sans-serif;
}

body {
  font-family: var(--font);
  font-size: 12px;
  background: center/cover var(--backgroundImage) fixed, var(--background);
  color: var(--text);
}

a {
  text-decoration: none;
  color: var(--text);
  transition: all 0.2s;
}

a:hover {
  background: var(--accent1);
}

input,
select,
button {
  background: var(--backgroundO);
  border: 1px solid var(--background);
  font-variant: small-caps;
  font-weight: bold;
  text-transform: lowercase;
  cursor: pointer;
}



/* SCROLLBAR */
/* will not work on all browsers - non-standard */

::-webkit-scrollbar {
  background: var(--text);
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, var(--accent1), var(--accent2));
  border-top: none;
  border-bottom: none;
}

::-webkit-scrollbar-corner {
  background: transparent;
}



/* HIGHLIGHT */

::selection {
  background: var(--text);
  color: var(--background);
}

::-moz-selection {
  background: var(--text);
  color: var(--background);
}



/* CREDIT */

body::after {
  content: 'killthecake';
  color: var(--accent1);
  text-transform: uppercase;
  font-size: 7px;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 0 0 5px 5px;
  position: fixed;
  bottom: 3px;
  left: 3px;
  z-index: 2;
}



/* CONTROL STRIP */

#lj_controlstrip {
  display: none;
}



/* POP-UPS */

.ljuser .ContextualPopup-trigger {
  display: none;
}

.ljuser::before {
  content: "@";
  color: var(--text);
  font-weight: bold;
  font-size: 10px;
  padding: 0 2px 0 10px;
}

.ljuser a:first-child {
  padding: 0;
}

.ljuser a {
  font-family: var(--font);
  text-transform: uppercase;
  font-size: 10px;
  padding: 0 2px;
  letter-spacing: 1px;
}

.ContextualPopup {
  border: 2px solid var(--accent);
  background: var(--bgShade2);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  color: var(--text);
}

.ContextualPopup a {
  color: var(--text);
  background: var(--bgShade2);
}



/* HEADER */

#header {
  display: none;
}



/* NAVIGATION */

.topnav {
  display: none;
}

.bottomnav {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  margin-bottom: 40px;
  padding: 10px;
  outline: 2px solid var(--backgroundO);
}

.bottomnav ul {
  margin: 0;
  background: var(--backgroundO);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bottomnav li {
  width: 100%;
  text-align: center;
  padding: 0;
}

.bottomnav a {
  display: block;
  padding: 5px 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.4s;
}

.bottomnav a:hover {
  background: var(--accent1);
}

.page-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.page-top a {
  color: var(--accent1);
  padding: 0 2px;
  transition: all 0.4s;
}

.page-top a:hover {
  color: var(--accent2);
}



/* MODULES */

.module h2,
.module .manage-link, 
.module-tags_cloud, 
.module-tags_multilevel, 
.module-tags_list,
.module-cuttagcontrols, 
.module-credit, 
.module-customtext,
.module-syndicate, 
.module-subscriptionfilters, 
.module-search, 
.module-time, 
.module-powered, 
.module-pagesummary, 
.module-calendar, 
.module-active,
.module-userprofile, 
#tertiary {
  display: none;
}

#secondary {
  position: sticky;
  top: -24px;
  z-index: 2;
}

#secondary > .inner:first-child {
  padding: 0;
}

.module-navlinks,
.module-typelist {
  background: var(--backgroundO);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

#secondary ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#secondary li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

#secondary a {
  display: block;
  padding: 5px 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.4s;
}

#secondary a:hover {
  background: var(--accent1);
}



/* ENTRIES */

.comment-date-text,
.comment-from-text,
.comment-ip-text,
.restrictions img, 
.access-filter img,
.sticky-entry-icon,
.entry .userpic,
.comment .userpic {
  display: none;
}

#primary {
  width: 70%;
  margin: 50px auto 0;
}

.entry-wrapper {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  margin-bottom: 40px;
  padding: 30px;
  outline: 2px solid var(--backgroundO);
}

.entry {
  background: var(--backgroundO);
  padding: 10px;
}

.entry .entry-title {
  font-family: var(--header);
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding-bottom: 0;
}

.entry .entry-title a {
  background: none;
}

.entry .datetime {
  display: block;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  padding: 8px 0;
}

.entry .datetime a {
  font-family: var(--font);
  padding: 0 2px;
}

.entry .entry-poster {
  display: block;
  font-size: 9px;
  text-align: center;
}

.access-filter,
.restrictions {
  display: block;
  font-weight: bold;
  letter-spacing: 2px;
  font-variant: small-caps;
  text-align: center;
  padding-right: 2px;
}

.security-protected .access-filter:before {
  content: "locked";
}

.security-private .access-filter:before {
  content: "private";
}

.restrictions-NSFW .restrictions:before {
  content:"nsfw";
}

.restrictions-18 .restrictions:before {
  content:"18+";
}

.entry .entry-content {
  text-align: justify;
  line-height: 15px;
  padding: 0 10px;
}

.entry .entry-content a {
  background: linear-gradient(90deg, var(--accent1), var(--accent1)) no-repeat;
  background-size: 100% 2px;
  background-position: bottom;
  padding: 0 2px;
}

.entry .entry-content a:hover {
  background-size: 100% 100%;
}

.entry .footer {
  text-transform: uppercase;
  font-size: 10px;
  text-align: right;
  font-weight: bold;
  padding-top: 20px;
}

.entry .tag {
  float: left;
}

.entry-management-links, 
.entry-interaction-links,
.comment-management-links, 
.comment-interaction-links {
  display: inline;
  font-size: 10px;
  text-transform: uppercase;
}

.entry-management-links a, 
.entry-interaction-links a,
.comment-management-links a, 
.comment-interaction-links a {
  padding: 0 2px;
  font-weight: bold;
}

.comment-wrapper {
  padding: 20px;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  outline: 2px solid var(--backgroundO);
  margin-bottom: 20px;
}

.comment {
  background: var(--backgroundO);
  padding: 5px;
}

.comment .comment-content {
  padding: 5px 0;
  text-align: justify;
}

.comment .datetime,
.comment .poster-ip {
  font-weight: bold;
  cursor: default;
}

.comment-pages {
  text-align: center;
  margin: 5px 0;
}

.bottomcomment,
.comment-pages {
  text-align: center;
  color: var(--accent1);
}

.bottomcomment a,
.comment-pages a {
  color: var(--accent1);
  padding: 0 2px;
  font-weight: normal;
}

.bottomcomment a:hover,
.comment-pages a:hover {
  color: var(--accent2);
}

.bottomcomment .entry-management-links, 
.bottomcomment .entry-interaction-links {
  display: block;
  text-align: center;
}

.noentries {
  text-align: center;
  font-weight: bold;
  cursor: default;
}



/* ARCHIVE, TAGS, ICONS */

.empty {
  display: none;
}

.header h2 {
  text-decoration: none;
  cursor: default;
  font-weight: normal;
  font-size: 30px;
  color: var(--text);
  font-family: var(--header);
  margin: 0;
  padding: 0;
}

.tags-container,
.icons-container,
.month-wrapper {
  padding: 10px;
}

#archive-month {
  padding: 1px 12px;
}

#archive-month a {
  font-weight: normal;
}

.tags-container,
.icons-container,
#archive-month {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  outline: 2px solid var(--backgroundO);
  padding: 30px;
}

.tags-container > .inner:first-child,
.icons-container > .inner:first-child,
#archive-month > .inner:first-child {
  background: var(--backgroundO);
  padding: 10px;
}

.tags-container .inner,
.icons-container .inner {
  padding: 2px 5px 5px;
}

.icon-image, 
.icon-info {
  display: inline-block;
  padding: 10px 0 10px 10px;
}

.icon-image a {
  background: transparent;
}

.month dt {
  padding: 5px;
}

.month table caption {
  font-weight: bold;
}

.month .header {
  display: none;
}

table.month {
  width: 80%;
}

table.month th {
  border-color: var(--text);
  background: var(--text);
  color: var(--background);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

table.month td {
  border-color: var(--text);
  vertical-align: top;
  background: var(--backgroundO);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

table.month td a {
  font-weight: bold;
}

.month caption {
  font-size: 30px;
  font-family: var(--header);
  font-weight: normal !important;
  color: var(--accent1);
}

.month .footer a {
  color: var(--accent1);
}

.month .footer a:hover {
  color: var(--accent2);
}



/* MOBILE */

@media (max-width: 900px) {
  #primary {
    width: 90%;
  }
}



#selectorMain {
  position: fixed;
  top: -120vh;
  right: 0;
  left: 0;
  height: 100vh;
  background: linear-gradient(120deg, #deb9ee, #fcc0e0, #f8ebaa, #bdf8fa, #fcc0e0);
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  overflow-y: auto;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  transition: all 0.4s;
}

#open-close {
  padding: 15px 30px 30px 15px;
  font-size: 25px;
  color: #000;
  background: linear-gradient(120deg, #deb9ee, #fcc0e0, #f8ebaa, #bdf8fa, #fcc0e0);
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 0 0 100px 0;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#open-close:hover {
  text-shadow: 0 0 4px rgba(0,0,0,0.6);
  color: #fff;
}

.imageBlock {
  width: 180px;
  height: 120px;
  margin: 15px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 4px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: transparent;
  letter-spacing: 1px;
  transition: all 0.2s;
}

.imageBlock:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px #000;
  color: #fff;
  text-shadow: 0 0 2px #000, 0 0 4px #000;
}