:root {
  --backgroundImage: center/cover url('https://static.vecteezy.com/system/resources/previews/011/656/808/original/holographic-background-with-neon-gradient-texture-iridescent-abstract-pattern-with-vibrant-colors-trendy-rainbow-design-vector.jpg') fixed;
  --background: #fff;
  --text: #333;
  --shadows: #000;
  --accent1: #a34efd;
  --accent2: #ff24f8;
  --accent3: #CBF9FB;
  --borders: #eee;

  --font: 'Roboto', sans-serif;
  --header: 'Croissant One', serif;
}

body {
  background: var(--background);
  color: var(--text);
  font: 12px var(--font);
}

a {
  color: var(--accent1);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.2s;
}

a:hover {
  color: var(--accent2);
}

input,
select,
button {
  background: var(--background);
  border: 2px solid var(--accent1);
  font-weight: bold;
  cursor: pointer;
  color: var(--text);
}



/* SCROLLBAR */
/* will not work on all browsers - non-standard */

::-webkit-scrollbar {
  background: var(--background);
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent1);
  border: 4px solid var(--background);
  border-top: none;
  border-bottom: none;
}

::-webkit-scrollbar-corner {
  background: transparent;
}



/* HIGHLIGHT */

::selection {
  background: var(--accent1);
  color: var(--background);
}

::-moz-selection {
  background: var(--accent1);
  color: var(--background);
}



/* CREDIT */

body::after {
  content: 'killthecake';
  color: var(--accent1);
  text-transform: uppercase;
  font-size: 8px;
  font-weight: bold;
  letter-spacing: 2px;
  position: fixed;
  bottom: 13px;
  left: 8px;
  z-index: 2;
}



/* CONTROL STRIP */

#lj_controlstrip {
  display: none;
}



/* POP-UPS */

.ljuser .ContextualPopup-trigger {
  display: none;
}

.ljuser a:first-child {
  padding: 0;
}

.ljuser a {
  font: 10px var(--font);
  text-transform: uppercase;
  padding: 0 2px;
  letter-spacing: 1px;
}

.ContextualPopup {
  border: 2px solid var(--accent1);
  background: var(--background);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  color: var(--text);
}

.ContextualPopup a {
  color: var(--accent1);
}



/* HEADER */

#header {
  display: none;
}



/* NAVIGATION */

.topnav {
  display: none;
}

.bottomnav {
  text-align: center;
}

.page-top {
  text-transform: uppercase;
  font-size: 8px;
  font-weight: bold;
  letter-spacing: 2px;
  position: fixed;
  bottom: 8px;
  right: 8px;
  padding: 5px;
}



/* MODULES */

#secondary, 
#tertiary {
  display: none;
}



/* ENTRIES */

.comment-date-text,
.comment-from-text,
.comment-ip-text,
.restrictions img,
.access-filter img,
.sticky-entry-icon,
.entry .userpic,
.comment .userpic {
  display: none;
}

#primary {
  width: 50%;
  text-align: justify;
  margin: auto;
}

.entry {
  margin: 50px 0;
  padding: 5px;
  border: 2px solid var(--borders);
}

.entry .header,
.entry .header a,
.entry .footer,
.entry .footer a {
  color: var(--background);
  text-shadow: 0 0 1px var(--shadows), 
               0 0 2px var(--shadows), 
               0 0 3px var(--shadows);
}

.entry .header a:hover,
.entry .footer a:hover {
  color: var(--accent3);
  text-shadow: 0 0 1px var(--shadows), 
               0 0 2px var(--shadows), 
               0 0 4px var(--shadows);
}

.entry .header {
  padding: 5px 0 10px;
  margin: 0;
  text-align: center;
  background: var(--backgroundImage);
  cursor: default;
}

.entry .entry-title {
  padding: 0;
  margin: 0;
}

.entry .entry-title,
.entry .entry-title a {
  font: 28px var(--header);
  text-transform: initial;
}

.entry .datetime {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.entry .entry-poster {
  text-align: center;
  display: block;
  padding-top: 5px;
}

.access-filter,
.restrictions {
  display: block;
  font-weight: bold;
  letter-spacing: 2px;
  font-variant: small-caps;
  padding-right: 2px;
  font-size: 16px;
  color: var(--background);
}

.security-protected .access-filter:before {
  content: "locked";
}

.security-private .access-filter:before {
  content: "private";
}

.restrictions-NSFW .restrictions:before {
  content:"nsfw";
}

.restrictions-18 .restrictions:before {
  content:"18+";
}

.entry .entry-content {
  margin: 10px 5px;
}

.entry .footer {
  font-size: 10px;
  text-transform: uppercase;
  text-align: right;
  font-weight: bold;
  margin: 0;
  padding: 5px;
  cursor: default;
  background: var(--backgroundImage);
}

.entry .tag {
  float: left;
  letter-spacing: 1px;
}

.entry-management-links, 
.entry-interaction-links,
.comment-management-links, 
.comment-interaction-links {
  display: inline;
}

.entry-management-links a, 
.entry-interaction-links a,
.comment-management-links a, 
.comment-interaction-links a {
  padding: 0 2px;
}

.comment {
  margin-bottom: 20px;
  border: 2px solid var(--borders);
}

.comment .comment-content {
  padding: 0 15px;
  text-align: justify;
}

.comment .datetime,
.comment .poster-ip {
  font-weight: bold;
  cursor: default;
}

.comment .header {
  padding: 5px 5px 10px;
}

.comment .ljuser {
  padding-left: 10px;
}

.comment .footer {
  font-weight: bold;
  padding: 5px 5px;
}

.comment-pages {
  text-align: center;
  margin: 5px 0;
}

.bottomcomment,
.comment-pages {
  text-align: center;
  color: var(--accent1);
}

.bottomcomment a,
.comment-pages a {
  color: var(--accent1);
  padding: 0 2px;
  font-weight: normal;
  font-weight: bold;
}

.bottomcomment a:hover,
.comment-pages a:hover {
  color: var(--accent2);
}

.bottomcomment .entry-management-links, 
.bottomcomment .entry-interaction-links {
  display: block;
  text-align: center;
}

.noentries {
  text-align: center;
  font-weight: bold;
  cursor: default;
}



/* ARCHIVE, TAGS, ICONS */

.empty {
  display: none;
}

.header h2 {
  text-decoration: none;
  background: var(--backgroundImage);
  text-align: center;
  cursor: default;
  font: 32px var(--header);
  color: var(--background);
  text-shadow: 0 0 1px var(--shadows), 
               0 0 2px var(--shadows), 
               0 0 3px var(--shadows);
  margin: 0;
  padding: 0;
}

.tags-container,
.icons-container,
.month-wrapper {
  padding: 5px;
  border: 2px solid var(--borders);
  margin-top: 20px;
}

#archive-month {
  padding: 1px 12px;
  border: 2px solid var(--borders);
  margin-top: 20px;
}

.tags-container,
.icons-container,
#archive-month {
  margin-bottom: 40px;
  padding: 5px;
}

.tags-container .inner,
.icons-container .inner {
  padding: 2px 5px 5px;
}

.icon-image, 
.icon-info {
  display: inline-block;
  padding: 10px 0 10px 10px;
}

.icon-image a {
  background: transparent;
}

.month dt {
  padding: 5px;
}

.month table caption {
  font-weight: bold;
}

.month .header {
  display: none;
}

table.month {
  width: 80%;
  margin: 5px auto;
}

table.month th {
  border-color: var(--accent2);
  background: var(--accent2);
  color: var(--background);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  text-align: center;
}

table.month td {
  border-color: var(--accent2);
  vertical-align: top;
  background: var(--background);
}

table.month td a {
  font-weight: bold;
}

.month caption {
  font: 32px var(--header);
  color: var(--background);
  text-shadow: 0 0 1px var(--shadows), 
               0 0 2px var(--shadows), 
               0 0 3px var(--shadows);
}

.month .footer {
  text-align: center;
}

.month .footer a {
  color: var(--accent2);
}

.month .footer a:hover {
  color: var(--accent1);
}



/* MOBILE */

@media (max-width: 900px) {
  #primary {
    width: 80%;
  }
}

@media (max-width: 700px) {
  #primary {
    width: 100%;
  }
}



#selectorMain {
  position: fixed;
  top: -120vh;
  right: 0;
  left: 0;
  height: 100vh;
  background: linear-gradient(120deg, #deb9ee, #fcc0e0, #f8ebaa, #bdf8fa, #fcc0e0);
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  overflow-y: auto;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  z-index: 500;
  transition: all 0.4s;
}

#open-close {
  padding: 15px 30px 30px 15px;
  font-size: 25px;
  color: #000;
  background: linear-gradient(120deg, #deb9ee, #fcc0e0, #f8ebaa, #bdf8fa, #fcc0e0);
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 0 0 100px 0;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.2s ease-in-out;
}

#open-close:hover {
  text-shadow: 0 0 4px rgba(0,0,0,0.6);
  color: #fff;
}

.imageBlock {
  width: 180px;
  height: 120px;
  margin: 15px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 4px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: transparent;
  letter-spacing: 1px;
  transition: all 0.2s;
}

.imageBlock:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px #000;
  color: #fff;
  text-shadow: 0 0 2px #000, 0 0 4px #000;
}