:root {
  --background: center/cover url('https://cdn.discordapp.com/attachments/1046237617685020682/1134285156614680576/pxfuel.png') fixed;
  --backgroundColor: #FDD3CA;
  --backgroundO: rgba(253, 211, 202, 0.6);
  --accent1: #add6be;
  --accent2: #619B84;
  --accent3: #538C7C;
  --accent4: #165544;

  --font: 'Roboto', sans-serif;
  --header: 'El Messiri', sans-serif;
}

body {
  background: var(--background), var(--backgroundColor);
  font: 12px var(--font);
  color: var(--accent4);
}

a {
  text-decoration: none;
  text-shadow: 0 0 2px var(--accent3);
  color: var(--accent4);
  font-family: var(--header);
}

a:hover {
  color: var(--accent2);
}

input,
select,
button {
  background: var(--accent3);
  border: 1px solid var(--accent4);
  font-variant: small-caps;
  font-weight: bold;
  text-transform: lowercase;
  cursor: pointer;
}



/* SCROLLBAR */
/* will not work on all browsers - non-standard */

::-webkit-scrollbar {
  background: var(--backgroundColor);
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, var(--accent2), var(--accent4));
}

::-webkit-scrollbar-corner {
  background: transparent;
}



/* HIGHLIGHT */

::selection {
  background: var(--accent4);
  color: var(--backgroundColor);
}

::-moz-selection {
  background: var(--accent4);
  color: var(--backgroundColor);
}



/* CREDIT */

body::after {
  content: 'killthecake';
  color: var(--backgroundColor);
  text-transform: uppercase;
  font-size: 7px;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 0 0 5px 5px;
  text-shadow: 0 0 1px var(--accent4), 
               0 0 2px var(--accent4), 
               0 0 3px var(--accent4), 
               0 0 4px var(--accent4), 
               0 0 5px var(--accent4);
  position: fixed;
  bottom: 3px;
  left: 3px;
  z-index: 2;
}



/* CONTROL STRIP */

#lj_controlstrip {
  display: none;
}



/* POP-UPS */

.ljuser .ContextualPopup-trigger {
  display: none;
}

.ljuser::before {
  content: "@";
  color: var(--accent4);
  font-weight: bold;
  font-size: 10px;
  padding: 0 2px 0 10px;
}

.ljuser a:first-child {
  padding: 0;
}

.ljuser a {
  font-family: var(--font);
  text-transform: uppercase;
  font-size: 10px;
  padding: 0 2px;
  letter-spacing: 1px;
}

.ContextualPopup {
  border: 2px solid var(--accent1);
  background: var(--accent4);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  color: var(--accent1);
}

.ContextualPopup a {
  color: var(--accent1);
}



/* HEADER */

#header {
  display: none;
}



/* NAVIGATION */

.topnav {
  display: none;
}

.bottomnav {
  background: var(--accent3);
  text-align: center;
  font-size: 16px;
}

.bottomnav a {
  display: inline-block;
  padding: 5px 0;
  color: var(--accent1);
}

.bottomnav a:hover {
  color: var(--backgroundColor);
}

.page-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.page-top a {
  color: var(--backgroundColor);
  background: var(--accent4);
  padding: 2px 6px 0;
}

.page-top a:hover {
  color: var(--backgroundColor) !important;
}



/* MODULES */

.module h2,
.module .manage-link, 
.module-tags_cloud, 
.module-tags_multilevel, 
.module-tags_list,
.module-cuttagcontrols, 
.module-credit, 
.module-customtext,
.module-syndicate, 
.module-subscriptionfilters, 
.module-search, 
.module-time, 
.module-powered, 
.module-pagesummary, 
.module-calendar, 
.module-active,
.module-userprofile, 
.module-typelist,
#tertiary {
  display: none;
}

.module-navlinks {
  width: 68%;
  margin: 20px auto;
  padding: 4px 0;
  font-size: 20px;
  background: var(--accent3);
  outline: 8px double var(--accent3);
}

.module-navlinks ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.module-navlinks a {
  text-shadow: none;
  color: var(--accent1);
  background: linear-gradient(180deg, var(--backgroundColor) 5%, transparent 5% 95%, var(--backgroundColor) 95%) no-repeat;
  background-size: 0% 100%;
  background-position: right;
  transition: all 0.2s, background-position 0s;
}

.module-navlinks a:hover {
  color: var(--backgroundColor);
  background-size: 100% 100%;
  background-position: left;
  transition: all 0.2s, background-position 0s;
}

#secondary ul {
  margin: 0;
}

#secondary li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}



/* ENTRIES */

.comment-date-text,
.comment-from-text,
.comment-ip-text,
.restrictions img, 
.access-filter img,
.sticky-entry-icon,
.entry .userpic,
.comment .userpic {
  display: none;
}

#primary {
  margin: auto;
  width: 70%;
}

.entry {
  margin-bottom: 40px;
  background: var(--backgroundO);
  padding: 10px;
  border: 25px solid var(--accent3);
}

.entry .entry-title {
  font: 35px var(--header);
  text-shadow: 0 0 2px var(--accent3);
  color: var(--accent4);
  text-align: center;
  margin: 0;
  padding: 0;
  cursor: default;
}

.entry .datetime {
  display: block;
  text-align: center;
  text-shadow: 0 0 2px var(--accent3);
  color: var(--accent4);
  font-family: var(--header);
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  cursor: default;
}

.entry .entry-poster {
  display: block;
  font-size: 10px;
  text-align: center;
}

.access-filter,
.restrictions {
  display: block;
  font-weight: bold;
  letter-spacing: 2px;
  font-variant: small-caps;
  text-align: center;
  padding-right: 2px;
  font-size: 16px;
}

.security-protected .access-filter:before {
  content: "locked";
}

.security-private .access-filter:before {
  content: "private";
}

.restrictions-NSFW .restrictions:before {
  content:"nsfw";
}

.restrictions-18 .restrictions:before {
  content:"18+";
}

.entry .entry-content {
  padding: 10px;
  text-align: justify;
}

.entry .footer {
  text-transform: uppercase;
  font-size: 11px;
  text-align: right;
  font-weight: bold;
  padding-top: 20px;
  text-shadow: 0 0 2px var(--accent3);
}

.entry .tag {
  float: left;
}

.entry-management-links, 
.entry-interaction-links,
.comment-management-links, 
.comment-interaction-links {
  display: inline;
  text-transform: uppercase;
}

.entry-management-links a, 
.entry-interaction-links a,
.comment-management-links a, 
.comment-interaction-links a {
  padding: 0 2px;
}

.comment {
  background: var(--backgroundO);
  padding: 5px;
  margin-bottom: 20px;
  border: 10px solid var(--accent3);
}

.comment .comment-content {
  padding: 5px 0;
  text-align: justify;
}

.comment .datetime,
.comment .poster-ip {
  font-weight: bold;
  cursor: default;
}

.comment .footer {
  font-weight: bold;
}

.comment-pages {
  text-align: center;
  margin: 5px 0;
}

.bottomcomment,
.comment-pages {
  text-align: center;
  color: var(--accent4);
}

.bottomcomment a,
.comment-pages a {
  color: var(--accent4);
  padding: 0 2px;
  font-weight: normal;
  font-weight: bold;
}

.bottomcomment a:hover,
.comment-pages a:hover {
  color: var(--accent3);
}

.bottomcomment .entry-management-links, 
.bottomcomment .entry-interaction-links {
  display: block;
  text-align: center;
}

.noentries {
  text-align: center;
  font-weight: bold;
  cursor: default;
}



/* ARCHIVE, TAGS, ICONS */

.empty {
  display: none;
}

.header h2 {
  text-decoration: none;
  cursor: default;
  font-weight: normal;
  font-size: 30px;
  color: var(--accent4);
  text-shadow: 0 0 2px var(--accent3);
  font-family: var(--header);
  margin: 0;
  padding: 0;
}

.tags-container,
.icons-container,
.month-wrapper {
  padding: 10px;
}

#archive-month {
  padding: 1px 12px;
}

#archive-month a {
  font-weight: normal;
}

.tags-container,
.icons-container,
#archive-month {
  margin-bottom: 40px;
  background: var(--backgroundO);
  padding: 30px;
  border: 25px solid var(--accent3);
}

.tags-container .inner,
.icons-container .inner {
  padding: 2px 5px 5px;
}

.icon-image, 
.icon-info {
  display: inline-block;
  padding: 10px 0 10px 10px;
}

.icon-image a {
  background: transparent;
}

.month dt {
  padding: 5px;
}

.month table caption {
  font-weight: bold;
}

.month .header {
  display: none;
}

table.month {
  width: 80%;
}

table.month th {
  border-color: var(--accent4);
  background: var(--accent4);
  color: var(--backgroundColor);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

table.month td {
  border-color: var(--accent4);
  vertical-align: top;
  background: var(--backgroundO);
}

table.month td a {
  font-weight: bold;
}

.month caption {
  font-size: 30px;
  font-family: var(--header);
  font-weight: normal !important;
  color: var(--accent4);
}

.month .footer a {
  color: var(--accent4);
}

.month .footer a:hover {
  color: var(--accent3);
}



/* MOBILE */

@media (max-width: 850px) {
  #primary {
    width: 90%;
  }
  .module-navlinks {
    width: 88%;
  }
}

@media (max-width: 600px) {
  .module-navlinks {
    font-size: 1em;
  }
}


