:root {
  --backgroundImage: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png") fixed;
  --static1: url("https://cdn.discordapp.com/attachments/898383258516090921/1077332386418790410/tv-static.gif");
  --static2: url("https://cdn.discordapp.com/attachments/898383258516090921/1077332386947276971/0928a2aa14e88da.gif");

  --text: #ccc;
  --background: #000;
  --accent: #db0000;

  --font: 'Roboto', sans-serif;
  --header: 'Oswald', sans-serif;
}

body {
  font-family: var(--font);
  font-size: 12px;
  color: var(--text);
  background: var(--backgroundImage), var(--background);
}

a {
  font-weight: bold;
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  text-decoration: line-through;
}

input,
select,
button {
  background: var(--background);
  border: 1px solid var(--text);
  font-weight: bold;
  color: var(--text);
}



/* SCROLLBAR */
/* will not work on all browsers - non-standard */

::-webkit-scrollbar {
  background: var(--background);
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--text);
  border: 4px solid var(--background);
  border-top: none;
  border-bottom: none;
}

::-webkit-scrollbar-corner {
  background: transparent;
}



/* HIGHLIGHT */

::selection {
  background: var(--text);
  color: var(--background);
}

::-moz-selection {
  background: var(--text);
  color: var(--background);
}



/* CREDIT */

body::after {
  content: 'killthecake';
  color: var(--accent);
  text-transform: uppercase;
  font-size: 8px;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 0 0 5px 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}



/* CONTROL STRIP */

#lj_controlstrip {
  background: var(--background);
}

#lj_controlstrip a {
  color: var(--text);
  padding: 0 2px;
  font-size: 11px;
  font-weight: bold;
}

#lj_controlstrip .ljuser a {
  margin: 0 !important;
  font-weight: bold;
}

#lj_controlstrip .ljuser::before {
  content: "";
  padding: 0;
}

#lj_controlstrip_userpic img, 
#lj_controlstrip .ljuser img {
  display: none;
}

#lj_controlstrip_user, 
#lj_controlstrip_login, 
#lj_controlstrip_actionlinks {
  border-right: none;
}

#lj_controlstrip_actionlinks {
  text-align: center;
}

#lj_controlstrip_statustext {
  color: var(--text);
  font-size: 11px;
  font-weight:normal;
}

#lj_controlstrip_search {
  text-align: right;
  color: var(--text);
}

#lj_controlstrip_search #text {
  font-family: var(--font);
}

#lj_controlstrip input, 
#lj_controlstrip select {
  background: var(--background);
  outline:none;
  font-variant: normal;
}

#lj_controlstrip input:hover, 
#lj_controlstrip select:hover, 
#lj_controlstrip input#search:hover {
  background: var(--background);
  color: var(--text);
  cursor:pointer;
}

#lj_controlstrip input {
  text-transform: lowercase;
  border: 1px solid var(--text);
  color: var(--text);
  padding: 0 2px;
}

#lj_controlstrip select {
  padding: 1px 0 2px;
  border: 1px solid var(--text);
  text-transform: lowercase;
  color: var(--text);
}

#lj_controlstrip input#xc_user, 
#lj_controlstrip input#xc_password, 
#lj_controlstrip input#search {
  background: var(--background);
  border: 1px solid var(--text);
  text-transform: lowercase;
  color: var(--text);
}



/* POP-UPS */

.ljuser .ContextualPopup-trigger {
  display: none;
}

.ljuser::before {
  content: "@";
  color: var(--accent);
  font-weight: bold;
  font-size: 10px;
  padding: 0 2px 0 10px;
}

.ljuser a:first-child {
  padding: 0;
}

.ContextualPopup {
  border: 2px solid var(--accent);
  background: var(--background);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  color: var(--accent);
}

.ContextualPopup a {
  color: var(--background);
  background: var(--accent);
}



/* HEADER */

#header  {
  display: none;
}



/* NAVIGATION */

.topnav {
  display: none;
}

.bottomnav {
  font-size: 10px;
  text-transform: uppercase;
  background: var(--background);
}

.bottomnav ul {
  padding: 2px;
}

.page-top {
  font-size: 10px;
  text-transform: uppercase;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: right;
  padding: 2px;
  background: var(--background);
  display: block;
  z-index: 0;
}



/* MODULES */

.module h2,
.module .manage-link, 
.module-tags_cloud, 
.module-tags_multilevel, 
.module-tags_list,
.module-customtext, 
.module-cuttagcontrols, 
.module-credit, 
.module-syndicate, 
.module-subscriptionfilters, 
.module-search, 
.module-time, 
.module-powered, 
.module-pagesummary, 
.module-calendar, 
.module-active,
.module-userprofile, 
#tertiary {
  display: none;
}

#secondary {
  position: sticky;
  top: 75px;
  left: 25px;
  float: left;
  width: 200px;
  background: var(--backgroundImage), var(--background);
}

#secondary > .inner:first-child {
  padding: 8px;
  background: var(--background);
}

.module-navlinks,
.module-typelist {
  background: var(--background);
  padding: 0 8px;
}

.module-navlinks ul,
.module-typelist ul {
  margin: 0;
  font-size: 10px;
  text-transform: uppercase;
}

.module-navlinks li,
.module-typelist li {
  list-style-type: none;
  margin: -1px;
  padding: 5px 0;
}



/* ENTRIES */

.comment-date-text,
.comment-from-text,
.comment-ip-text,
.restrictions img, 
.access-filter img,
.sticky-entry-icon,
.entry .userpic,
.comment .userpic {
  display: none;
}

#primary {
  float: left;
  width: 68%;
  margin: 18px 0 0 60px;
}

.entry-wrapper {
  margin-bottom: 40px;
}

.entry-wrapper-even {
  background: var(--static1);
  padding: 10px;
}

.entry-wrapper-odd {
  background: var(--static2);
  padding: 10px;
}

.entry .header {
  background: var(--background);
  padding: 10px;
}

.entry .entry-title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: var(--header);
}

.entry .datetime {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.entry .entry-poster {
  display: block;
  background: var(--background);
}

.access-filter,
.restrictions {
  display: inline-block;
  font-weight: bold;
  letter-spacing: 2px;
  font-variant: small-caps;
  text-align: left;
  padding-right: 2px;
}

.security-protected .access-filter:before {
  content: "locked";
}

.security-private .access-filter:before {
  content: "private";
}

.restrictions-NSFW .restrictions:before {
  content:"nsfw";
}

.restrictions-18 .restrictions:before {
  content:"18+";
}

.entry .entry-content {
  background: var(--background);
  padding: 0 10px 10px;
  text-align: justify;
}

.entry .footer {
  background: var(--background);
  padding: 10px;
  font-weight: bold;
  text-align: right;
  font-size: 10px;
  text-transform: uppercase;
}

.entry .tag {
  float: left;
}

.entry-management-links, 
.entry-interaction-links,
.comment-management-links, 
.comment-interaction-links {
  display: inline;
}

.comment-wrapper {
  padding: 10px;
  background: var(--backgroundImage);
  margin-bottom: 10px;
}

.comment-wrapper .inner {
  background: var(--background);
  padding: 2px 5px;
}

.comment .comment-content {
  padding: 5px 0;
  text-align: justify;
}

.comment .datetime,
.comment .poster-ip {
  font-family: var(--header);
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: default;
  color: var(--accent);
}

.comment-pages {
  text-align: center;
  margin: 5px 0;
}

.bottomcomment {
  text-align: center;
}

.bottomcomment .entry-management-links, 
.bottomcomment .entry-interaction-links {
  display: block;
  text-align: center;
}

.noentries {
  text-align: center;
  font-weight: bold;
  cursor: default;
}



/* ARCHIVE, TAGS, ICONS */

.header h2 {
  text-decoration: none;
  cursor: default;
  font-weight: bold;
  font-size: 20px;
  color: var(--accent);
  font-family: var(--header);
  margin: 0;
  padding: 0;
}

.tags-container,
.icons-container,
.month-wrapper {
  padding: 10px;
}

#archive-month {
  padding: 1px 12px;
}

.tags-container,
.icons-container,
#archive-month {
  background: var(--backgroundImage);
}

.tags-container .inner,
.icons-container .inner,
#archive-month .inner {
  background: var(--background);
}

.tags-container .inner,
.icons-container .inner {
  padding: 2px 5px 5px;
}

.icon-image, 
.icon-info {
  display: inline-block;
  padding: 10px 0 10px 10px;
}

.icon-image a {
  background: transparent;
}

.month dt {
  padding: 5px;
}

.month table caption {
  font-weight: bold;
}

.month .header {
  display: none;
}

table.month {
  width: 60%;
}

table.month th {
  border-color: var(--text);
  background: var(--text);
  color: var(--background);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

table.month td {
  border-color: var(--text);
  vertical-align: top;
}

.month caption {
  font-size: 30px;
}



/* CUSTOM */

.custom-nav a:hover {
  margin-left: 20px;
}



/* MOBILE */

@media (max-width: 900px) {
  #lj_controlstrip, 
  #lj_controlstrip_search {
    text-align: center;
  }
}

@media (max-width: 850px) {
  #secondary,
  #primary {
    float: none;
    width: 95%;
  }
  #primary {
    margin-left: 20px;
  }
  #secondary {
    position: initial;
    margin-left: 20px;
  }
  .module-navlinks ul {
    margin-bottom: 10px;
  }
  .module-navlinks ul,
  .module-typelist ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .module-navlinks li,
  .module-typelist li {
    padding: 4px 10px;
  }
}



#selectorMain {
  position: fixed;
  top: -120vh;
  right: 0;
  left: 0;
  height: 100vh;
  background: linear-gradient(120deg, #deb9ee, #fcc0e0, #f8ebaa, #bdf8fa, #fcc0e0);
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  overflow-y: auto;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  transition: all 0.4s;
}

#open-close {
  padding: 15px 30px 30px 15px;
  font-size: 25px;
  color: #000;
  background: linear-gradient(120deg, #deb9ee, #fcc0e0, #f8ebaa, #bdf8fa, #fcc0e0);
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 0 0 100px 0;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#open-close:hover {
  text-shadow: 0 0 4px rgba(0,0,0,0.6);
  color: #fff;
}

.imageBlock {
  width: 180px;
  height: 120px;
  margin: 15px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 4px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: transparent;
  letter-spacing: 1px;
  transition: all 0.2s;
}

.imageBlock:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px #000;
  color: #fff;
  text-shadow: 0 0 2px #000, 0 0 4px #000;
}