:root {
  --background: #ffc8dd;
  --bgShade1: #ffafcc;
  --bgShade2: #fdcfe1;
  --accent: #cdb4db;
  --text: #111;

  --backgroundTexture: url('https://www.transparenttextures.com/patterns/wild-flowers.png') fixed;

  --font: 'Roboto', sans-serif;
  --header: 'Pacifico', sans-serif;
}

body {
  background: var(--backgroundTexture), var(--background);
  font-family: var(--font);
  font-size: 12px;
  color: var(--text);
}

a {
  background: linear-gradient(90deg, var(--accent), var(--accent)) no-repeat;
  background-size: 100% 5px;
  background-position: center;
  font-family: var(--header);
  color: var(--text);
  text-decoration: none;
  padding: 0 4px;
  transition: all 0.3s;
}

a:hover {
  background-size: 100% 100%;
}

input,
select,
button {
  background: var(--bgShade1);
  border: none;
  font-variant: small-caps;
  font-weight: bold;
  text-transform: lowercase;
  cursor: pointer;
}



/* SCROLLBAR */
/* will not work on all browsers - non-standard */

::-webkit-scrollbar {
  background: var(--background);
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, var(--bgShade1), var(--accent));
  border: 3px double var(--background);
  border-top: none;
  border-bottom: none;
}

::-webkit-scrollbar-corner {
  background: transparent;
}



/* HIGHLIGHT */

::selection {
  background: var(--text);
  color: var(--bgShade1);
}

::-moz-selection {
  background: var(--text);
  color: var(--bgShade1);
}



/* CREDIT */

body::after {
  content: 'killthecake';
  color: var(--text);
  text-transform: uppercase;
  font-size: 7px;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 0 0 5px 5px;
  position: fixed;
  bottom: 3px;
  left: 3px;
  z-index: 2;
}



/* CONTROL STRIP */

#lj_controlstrip {
  display: none;
}



/* POP-UPS */

.ljuser .ContextualPopup-trigger {
  display: none;
}

.ljuser::before {
  content: "@";
  color: var(--text);
  font-weight: bold;
  font-size: 10px;
  padding: 0 2px 0 10px;
}

.ljuser a:first-child {
  padding: 0;
}

.ljuser a {
  font-family: var(--font);
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
}

.ContextualPopup {
  border: 2px solid var(--accent);
  background: var(--bgShade2);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  color: var(--text);
}

.ContextualPopup a {
  color: var(--text);
  background: var(--bgShade2);
}



/* HEADER */

#header {
  display: none;
}



/* NAVIGATION */

.topnav {
  display: none;
}

.bottomnav {
  text-align: center;
  font-size: 14px;
}

.page-top {
  position: fixed;
  bottom: 5px;
  right: 5px;
  text-transform: capitalize;
  font-size: 14px;
}



/* MODULES */

.module h2,
.module .manage-link, 
.module-tags_cloud, 
.module-tags_multilevel, 
.module-tags_list,
.module-cuttagcontrols, 
.module-credit, 
.module-customtext,
.module-syndicate, 
.module-subscriptionfilters, 
.module-search, 
.module-time, 
.module-powered, 
.module-pagesummary, 
.module-calendar, 
.module-active,
.module-userprofile, 
#tertiary {
  display: none;
}

#secondary {
  background: linear-gradient(180deg, var(--bgShade1), var(--accent)) fixed;
  border: 4px double var(--background);
  width: 200px;
  padding: 25px;
  position: fixed;
  top: 50px;
  left: 50px;
  font-size: 14px;
}

#secondary > .inner:first-child {
  background: linear-gradient(180deg, var(--bgShade1), var(--accent)) fixed;
  outline: 4px double var(--bgShade2);
  padding: 0;
}

#secondary a {
  padding: 0;
  background: var(--bgShade2);
  display: block;
  padding: 3px;
  border: 4px double var(--bgShade2);
}

#secondary a:hover {
  background: transparent;
}

.module-navlinks ul,
.module-typelist ul {
  margin: 0;
}

.module-navlinks li,
.module-typelist li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}



/* ENTRIES */

.comment-date-text,
.comment-from-text,
.comment-ip-text,
.restrictions img, 
.access-filter img,
.sticky-entry-icon,
.entry .userpic,
.comment .userpic {
  display: none;
}

#primary {
  max-width: 800px;
  margin: 50px 0 0 400px;
}

#primary > .inner:first-child {
  padding: 0;
}

.entry-wrapper {
  background: linear-gradient(180deg, var(--bgShade1), var(--accent)) fixed;
  border: 4px double var(--background);
  padding: 30px;
  margin-bottom: 40px;
}

.entry {
  background: var(--bgShade2);
  outline: 4px double var(--bgShade2);
  padding: 20px;
}

.entry .entry-title {
  font-size: 26px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: var(--header);
  font-weight: normal;
}

.entry .entry-title a {
  font-weight: normal;
  background-position: bottom center;
  background-size: 25% 5px;
}

.entry .entry-title a:hover {
  background-size: 100% 8px;
}

.entry .datetime {
  display: block;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  padding: 8px 0;
}

.entry .datetime a {
  font-family: var(--font);
  background: none;
  padding: 0;
}

.entry .entry-poster {
  display: block;
  font-size: 9px;
  text-align: center;
}

.access-filter,
.restrictions {
  display: block;
  font-weight: bold;
  letter-spacing: 2px;
  font-variant: small-caps;
  text-align: center;
  padding-right: 2px;
}

.security-protected .access-filter:before {
  content: "locked";
}

.security-private .access-filter:before {
  content: "private";
}

.restrictions-NSFW .restrictions:before {
  content:"nsfw";
}

.restrictions-18 .restrictions:before {
  content:"18+";
}

.entry .entry-content {
  text-align: justify;
  line-height: 15px;
}

.entry .footer {
  text-transform: uppercase;
  font-size: 10px;
  text-align: right;
  font-weight: bold;
  padding-top: 20px;
}

.entry .tag {
  float: left;
}

.entry .tag a {
  font-family: var(--font);
  background-position: bottom;
}

.entry-management-links, 
.entry-interaction-links,
.comment-management-links, 
.comment-interaction-links {
  display: inline;
  font-size: 10px;
  text-transform: uppercase;
}

.entry-management-links a, 
.entry-interaction-links a,
.comment-management-links a, 
.comment-interaction-links a {
  padding: 0 2px;
  font-family: var(--font);
  background-position: bottom;
  font-weight: bold;
}

.comment-wrapper {
  padding: 20px;
  background: linear-gradient(180deg, var(--bgShade1), var(--accent)) fixed;
  border: 4px double var(--background);
  margin-bottom: 10px;
}

.comment-wrapper .inner {
  background: var(--bgShade2);
  outline: 4px double var(--bgShade2);
  padding: 5px;
}

.comment .comment-content {
  padding: 5px 0;
  text-align: justify;
}

.comment .datetime,
.comment .poster-ip {
  font-weight: bold;
  cursor: default;
  color: var(--text);
}

.comment-pages {
  text-align: center;
  margin: 5px 0;
}

.bottomcomment {
  text-align: center;
}

.bottomcomment .entry-management-links, 
.bottomcomment .entry-interaction-links {
  display: block;
  text-align: center;
}

.noentries {
  text-align: center;
  font-weight: bold;
  cursor: default;
}



/* ARCHIVE, TAGS, ICONS */

.empty {
  display: none;
}

.header h2 {
  text-decoration: none;
  cursor: default;
  font-weight: normal;
  font-size: 20px;
  color: var(--text);
  font-family: var(--header);
  margin: 0;
  padding: 0;
  font-size: 24px;
}

.tags-container,
.icons-container,
.month-wrapper {
  padding: 10px;
}

#archive-month {
  padding: 1px 12px;
}

#archive-month a {
  font-weight: normal;
}

.tags-container,
.icons-container,
#archive-month {
  background: linear-gradient(180deg, var(--bgShade1), var(--accent)) fixed;
  border: 4px double var(--background);
  padding: 30px;
}

.tags-container .inner,
.icons-container .inner,
#archive-month .inner {
  background: var(--bgShade2);
  outline: 4px double var(--bgShade2);
  padding: 20px;
}

.tags-container .inner,
.icons-container .inner {
  padding: 2px 5px 5px;
}

.icon-image, 
.icon-info {
  display: inline-block;
  padding: 10px 0 10px 10px;
}

.icon-image a {
  background: transparent;
}

.month dt {
  padding: 5px;
}

.month table caption {
  font-weight: bold;
}

.month .header {
  display: none;
}

table.month {
  width: 80%;
}

table.month th {
  border-color: var(--text);
  background: var(--text);
  color: var(--background);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

table.month td {
  border-color: var(--text);
  vertical-align: top;
  background: var(--bgShade2);
}

.month caption {
  font-size: 30px;
  font-family: var(--header);
  font-weight: normal !important;
}



/* MOBILE */

@media (max-width: 1200px) {
  #secondary {
    left: 20px;
  }
  #primary {
    width: 60%;
    margin: 50px 0 0 300px;
  }
}

@media (max-width: 800px) {
  #secondary {
    position: initial;
    width: 80%;
    margin: 30px auto 0;
  }
  #secondary > .inner:first-child {
    background: var(--bgShade2);
  }
  #secondary a {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 3px 0;
    border: none;
    font-size: 12px;
  }
  #secondary a:hover {
    background: var(--accent);
  }
  .module-navlinks ul,
  .module-typelist ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .module-navlinks li,
  .module-typelist li {
    width: 100%;
  }
  #primary {
    margin: 50px auto 0;
    width: 90%;
  }
}



#selectorMain {
  position: fixed;
  top: -120vh;
  right: 0;
  left: 0;
  height: 100vh;
  background: linear-gradient(120deg, #deb9ee, #fcc0e0, #f8ebaa, #bdf8fa, #fcc0e0);
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  overflow-y: auto;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  z-index: 500;
  transition: all 0.4s;
}

#open-close {
  padding: 15px 30px 30px 15px;
  font-size: 25px;
  color: #000;
  background: linear-gradient(120deg, #deb9ee, #fcc0e0, #f8ebaa, #bdf8fa, #fcc0e0);
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 0 0 100px 0;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.2s ease-in-out;
}

#open-close:hover {
  text-shadow: 0 0 4px rgba(0,0,0,0.6);
  color: #fff;
}

.imageBlock {
  width: 180px;
  height: 120px;
  margin: 15px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 4px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: transparent;
  letter-spacing: 1px;
  transition: all 0.2s;
}

.imageBlock:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px #000;
  color: #fff;
  text-shadow: 0 0 2px #000, 0 0 4px #000;
}