:root {
  --background: #09090e;
  --text: #ccc;
  --accent1: #c94470;
  --accent2: #be2148;
  --accent3: #15121a;

  --image: center/cover url('https://i.ibb.co/8D6mfSj/pexels-rovenimages-com-344613-949592-1.jpg');

  --font: 'Roboto', sans-serif;
  --header: 'Indie Flower', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background: var(--background);
  color: var(--text);
  font: 12px var(--font);
}

a {
  text-decoration: none;
  color: var(--accent1);
  font-weight: bold;
}

a:hover {
  color: var(--accent2);
}

input,
select,
button {
  background: var(--background);
  border: 2px solid var(--text);
  font-weight: bold;
  cursor: pointer;
  color: var(--text);
}



/* SCROLLBAR */
/* will not work on all browsers - non-standard */

::-webkit-scrollbar {
  background: var(--background);
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--text);
}

::-webkit-scrollbar-corner {
  background: transparent;
}



/* HIGHLIGHT */

::selection,
::-moz-selection {
  background: var(--text);
  color: var(--background);
}



/* CREDIT */

body::after {
  content: 'killthecake';
  color: var(--accent2);
  text-transform: uppercase;
  font-size: 6px;
  font-weight: bold;
  letter-spacing: 3px;
  position: fixed;
  bottom: 8px;
  left: 8px;
  z-index: 5;
}



/* CONTROL STRIP */

#lj_controlstrip {
  display: none;
}



/* POP-UPS */

.ljuser .ContextualPopup-trigger {
  display: none;
}

.ljuser::before {
  content: "x";
  color: var(--text);
  font-weight: bold;
  font-size: 10px;
}

.ljuser a:first-child {
  padding: 0;
}

.ljuser a {
  font-family: var(--font);
  text-transform: uppercase;
  font-size: 10px;
  padding: 0 2px;
  letter-spacing: 1px;
}

.ContextualPopup {
  border: 5px solid var(--text);
  background: var(--background);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  color: var(--text);
}

.ContextualPopup a {
  color: var(--accent1);
}



/* HEADER */

#title,
#pagetitle,
#subtitle {
  display: none;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 33vh;
  background: var(--image);
  border-bottom: 5px solid var(--accent2);
  z-index: -1;
}



/* NAVIGATION */

.topnav,
.page-top {
  display: none;
}

.bottomnav {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}



/* MODULES */

.module h2,
.module .manage-link, 
.module-tags_cloud, 
.module-tags_multilevel, 
.module-tags_list,
.module-cuttagcontrols, 
.module-credit, 
.module-syndicate, 
.module-subscriptionfilters, 
.module-search, 
.module-time, 
.module-powered, 
.module-pagesummary,
.module-customtext,
.module-calendar, 
.module-active,
.module-userprofile, 
.module-typelist,
#tertiary{
  display: none;
}

#secondary {
  position: fixed;
  top: 0;
  right: 0;
  width: fit-content;
  font-style: italic;
  letter-spacing: 1px;
  font-family: var(--header);
  text-shadow: 0 0 2px var(--background),
               0 0 4px var(--background),
               0 0 6px var(--background);
}

#secondary > .inner:first-child {
  padding: 0;
}

#secondary ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: right;
  height: 33vh;
  padding: 0;
  margin: 0;
}

#secondary li {
  list-style-type: none;
  padding: 0 20px;
}

#secondary a {
  color: var(--text);
}

#secondary a:hover {
  color: var(--accent1);
}



/* ENTRIES */

.comment-date-text,
.comment-from-text,
.comment-ip-text,
.restrictions img,
.access-filter img,
.sticky-entry-icon,
.entry .userpic,
.comment .userpic {
  display: none;
}

#primary {
  width: 60%;
  margin: 150px auto 20px;
}

.entry {
  border: 5px solid var(--accent2);
  background: var(--accent3);
  margin-bottom: 60px;
  padding: 15px;
}

.entry .entry-title {
  font: 35px var(--header);
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.entry .datetime {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}

.access-filter,
.restrictions {
  display: block;
  font-weight: bold;
  letter-spacing: 2px;
  font-variant: small-caps;
  padding-right: 2px;
  font-size: 16px;
  color: var(--text);
}

.security-protected .access-filter:before {
  content: "locked";
}

.security-private .access-filter:before {
  content: "private";
}

.restrictions-NSFW .restrictions:before {
  content:"nsfw";
}

.restrictions-18 .restrictions:before {
  content:"18+";
}

.entry .entry-content {
  padding: 20px 0;
  text-align: justify;
}

.entry .footer {
  text-transform: uppercase;
  font-size: 10px;
  text-align: right;
  font-weight: bold;
}

.entry .tag {
  float: left;
}

.entry-management-links, 
.entry-interaction-links,
.comment-management-links, 
.comment-interaction-links {
  display: inline;
}

.entry-management-links a, 
.entry-interaction-links a,
.comment-management-links a, 
.comment-interaction-links a {
  padding: 0 2px;
}

.comment {
  padding: 10px;
  margin-bottom: 10px;
  background: var(--background);
  border: 3px solid var(--accent2);
}

.comment .comment-content {
  padding: 5px 0;
  text-align: justify;
}

.comment .datetime,
.comment .poster-ip {
  font-weight: bold;
  cursor: default;
}

.comment .header {
  padding-bottom: 10px;
}

.comment .footer {
  font-weight: bold;
  padding-top: 5px;
}

.comment-pages {
  text-align: center;
  margin: 5px 0;
}

.bottomcomment,
.comment-pages {
  text-align: center;
}

.bottomcomment a,
.comment-pages a {
  padding: 0 2px;
  font-weight: normal;
  font-weight: bold;
}

.bottomcomment .entry-management-links, 
.bottomcomment .entry-interaction-links {
  display: block;
  text-align: center;
}

.noentries {
  text-align: center;
  font-weight: bold;
  cursor: default;
}



/* ARCHIVE, TAGS, ICONS */

.empty {
  display: none;
}

.header h2 {
  text-decoration: none;
  cursor: default;
  font: 35px var(--header);
  margin: 0;
  padding: 0;
}

.tags-container,
.icons-container,
.month-wrapper {
  padding: 10px;
  margin-top: 20px;
}

#archive-month {
  padding: 1px 12px;
  margin-top: 20px;
}

.tags-container,
.icons-container,
#archive-month {
  margin-bottom: 40px;
  padding: 30px;
  background: var(--background);
  border: 3px solid var(--accent2);
}

.tags-container .inner,
.icons-container .inner {
  padding: 2px 5px 5px;
}

.icon-image, 
.icon-info {
  display: inline-block;
  padding: 10px 0 10px 10px;
}

.icon-image a {
  background: transparent;
}

.month dt {
  padding: 5px;
}

.month table caption {
  font-weight: bold;
}

.month .header {
  display: none;
}

table.month {
  width: 80%;
  margin: 5px auto;
}

table.month th {
  border-color: var(--text);
  background: var(--text);
  color: var(--background);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  text-align: center;
}

table.month td {
  border-color: var(--text);
  vertical-align: top;
}

table.month td a {
  font-weight: bold;
}

.month caption {
  font: 35px var(--header);
  color: var(--text);
  text-shadow: 0 0 4px var(--background);
}

.month .footer {
  text-align: center;
}

.month .footer a {
  color: var(--text);
}

.month .footer a:hover {
  color: var(--text);
}



/* MOBILE */

@media (max-width: 900px) {
  #primary {
    width: 95%;
  }
}
