:root {
  --background: #40916c;
  --text: #333;
  --accent1: #d8f3dc;
  --accent2: #1b4332;
  --accent3: #55b480;

  --texture: url('https://www.transparenttextures.com/patterns/my-little-plaid-dark.png') fixed;

  --font: 'Abel', sans-serif;
  --header: 'Croissant One', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background: var(--texture), var(--background);
  color: var(--text);
  font: 14px var(--font);
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--text);
}

a:hover {
  text-decoration: underline;
}

input,
select,
button {
  background: var(--background);
  border: 1px solid var(--text);
  font-weight: bold;
  cursor: pointer;
  color: var(--text);
  padding: 2px;
}

blockquote {
  margin: 10px 0 10px 30px;
  padding: 10px;
  background: var(--accent3);
  border: 1px solid var(--background);
  color: var(--accent1);
}

#footer {
  display: none;
}



/* SCROLLBAR */
/* will not work on all browsers - non-standard */

::-webkit-scrollbar {
  background: var(--background);
  width: 8px;
  height: 8px;
  border-left: 1px solid var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--accent3);
}

::-webkit-scrollbar-corner {
  background: transparent;
}



/* HIGHLIGHT */

::selection,
::-moz-selection {
  background: var(--text);
  color: var(--background);
}



/* CREDIT */

body::after {
  content: 'killthecake';
  color: var(--accent1);
  background: var(--background);
  padding: 0 2px;
  text-transform: uppercase;
  font-size: 7px;
  font-weight: bold;
  letter-spacing: 2px;
  position: fixed;
  bottom: 8px;
  left: 8px;
  z-index: 5;
}



/* CONTROL STRIP */

#lj_controlstrip {
  display: none;
}



/* POP-UPS */

.ljuser .ContextualPopup-trigger {
  display: none;
}

.ljuser::before {
  content: "x";
  color: var(--text);
  font-weight: bold;
  font-size: 10px;
}

.ljuser a:first-child {
  padding: 0;
}

.ljuser a {
  font-family: var(--font);
  text-transform: uppercase;
  font-size: 10px;
  padding: 0 2px;
  letter-spacing: 1px;
}

.ContextualPopup {
  border: 5px solid var(--text);
  background: var(--background);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  color: var(--text);
}

.ContextualPopup a {
  color: var(--text);
}



/* HEADER */

#header {
  display: none;
}



/* NAVIGATION */

.topnav,
.page-top {
  display: none;
}

.bottomnav {
  width: 80%;
  margin: auto;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 5px 0;
  background: var(--accent3);
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
}

.bottomnav a {
  color: var(--accent1);
  padding: 0 2px;
}

.bottomnav a:hover {
  background: var(--accent1);
  color: var(--accent2);
  text-decoration: none;
}



/* MODULES */

#secondary,
#tertiary {
  display: none;
}



/* ENTRIES */

.comment-date-text,
.comment-from-text,
.comment-ip-text,
.restrictions img,
.access-filter img,
.sticky-entry-icon,
.entry .userpic,
.comment .userpic {
  display: none;
}

#primary {
  width: 60%;
  margin: 0 auto;
  padding: 0;
}

.entry-wrapper {
  padding: 10px;
}

.entry {
  margin: 20px 0;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  background: var(--accent1);
  overflow: hidden;
}

.entry .header {
  text-align: center;
  background: var(--accent3);
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-bottom: 1px solid var(--background);
}

.entry .entry-title {
  color: var(--text);
  margin: 0;
  padding: 5px 0 3px;
  font: 32px var(--header);
  text-shadow: 1px 1px 0 var(--accent1);
  cursor: default;
}

.entry .entry-title a {
  color: var(--text);
  font-weight: normal;
}

.entry .datetime {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  font-style: italic;
  color: var(--accent1);
}

.entry .datetime a {
  color: var(--accent1);
}

.access-filter,
.restrictions {
  display: block;
  font-weight: bold;
  letter-spacing: 2px;
  font-variant: small-caps;
  font-style: italic;
  padding-right: 2px;
  font-size: 10px;
  color: var(--accent1);
}

.security-protected .access-filter:before {
  content: "locked";
}

.security-private .access-filter:before {
  content: "private";
}

.restrictions-NSFW .restrictions:before {
  content:"nsfw";
}

.restrictions-18 .restrictions:before {
  content:"18+";
}

.entry .entry-poster {
  margin-left: 10px;
}

.entry .entry-content {
  padding: 20px 10px;
  text-align: justify;
}

.entry .footer {
  background: var(--accent3);
  color: var(--accent1);
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-top: 1px solid var(--background);
  text-transform: uppercase;
  font-size: 10px;
  text-align: right;
  font-weight: bold;
  padding: 10px;
}

.entry .footer a {
  color: var(--accent1);
}

.entry .footer a:hover {
  text-decoration: none;
  background: var(--accent1);
  color: var(--accent2);
}

.entry .tag {
  float: left;
}

.entry .tag a {
  padding: 0 2px;
}

.entry-management-links, 
.entry-interaction-links,
.comment-management-links, 
.comment-interaction-links {
  display: inline;
}

.entry-management-links a, 
.entry-interaction-links a,
.comment-management-links a, 
.comment-interaction-links a {
  padding: 0 2px;
}

.comment {
  margin-bottom: 10px;
  background: var(--accent1);
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
}

.comment .contents {
  padding: 10px;
  text-align: justify;
}

.comment .datetime,
.comment .poster-ip {
  font-weight: bold;
  cursor: default;
}

.comment .header {
  padding: 10px;
  background: var(--accent3);
}

.comment .footer {
  font-weight: bold;
  padding: 10px;
  font-size: 10px;
  text-transform: uppercase;
  background: var(--accent3);
}

.comment-pages {
  text-align: center;
  margin: 5px 0;
}

.bottomcomment,
.comment-pages {
  text-align: center;
}

.bottomcomment a,
.comment-pages a {
  padding: 0 2px;
  font-weight: bold;
  color: var(--accent1);
  text-shadow: 1px 1px 0 var(--text);
}

.bottomcomment a:hover,
.comment-pages a:hover {
  background: var(--accent1);
  color: var(--accent2);
  text-decoration: none;
  text-shadow: none;
}

.bottomcomment .entry-management-links, 
.bottomcomment .entry-interaction-links {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.noentries {
  text-align: center;
  font-weight: bold;
  cursor: default;
}



/* ARCHIVE, TAGS, ICONS */

.empty {
  display: none;
}

.header h2 {
  text-decoration: none;
  cursor: default;
  font: 32px var(--header);
  text-shadow: 1px 1px 0 var(--accent1);
  margin: 0;
  padding: 5px 10px;
  color: var(--text);
}

.tags-container,
.icons-container,
.month-wrapper {
  padding: 10px;
  margin-top: 20px;
}

#archive-month {
  padding: 1px 12px;
  margin-top: 20px;
}

.tags-container,
.icons-container,
#archive-month {
  margin-bottom: 40px;
  padding: 10px;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  background: var(--accent1);
}

.tags-container .inner,
.icons-container .inner {
  padding: 2px 5px 5px;
}

.icon-image, 
.icon-info {
  display: inline-block;
  padding: 10px 0 10px 10px;
}

.icon-image a {
  background: transparent;
}

.month dt {
  padding: 5px;
}

.month table caption {
  font-weight: bold;
  font: 32px var(--header);
  text-shadow: 1px 1px 0 var(--accent1);
}

.month .header {
  display: none;
}

table.month {
  width: 80%;
  margin: 5px auto;
}

table.month th {
  border-color: var(--text);
  background: var(--accent2);
  color: var(--accent1);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  text-align: center;
}

table.month td {
  border-color: var(--text);
  background: var(--accent1);
  vertical-align: top;
}

table.month td a {
  font-weight: bold;
}

.month .footer {
  text-align: center;
}



/* MOBILE */

@media (max-width: 1110px) {
  #primary {
    width: 70%;
  }
}

@media (max-width: 800px) {
  #secondary {
    display: none;
  }
  #primary {
    width: 95%;
  }
}
