:root {
  --backgroundImage: center url('https://i.ibb.co/3yNVXZCt/abstract-watercolor-rainbow-geometric-background-for-paper-design-vector.jpg') fixed;

  --background: #fff;
  --text: #111;
  --accent1: #000;
  --accent2: #eee;
  --accent3: #fff;

  --font: 'Roboto', sans-serif;
  --header: monospace;
}

body {
  font: 11px var(--font);
  background: var(--background);
  color: var(--text);
}

a {
  text-decoration: none;
  color: var(--accent1);
}

a:hover {
  text-shadow: 0 0 4px var(--accent1);
}

input,
select,
button {
  background: var(--background);
  border: 1px solid var(--text);
  font-weight: bold;
  cursor: pointer;
  color: var(--text);
}



/* SCROLLBAR */
/* will not work on all browsers - non-standard */

::-webkit-scrollbar {
  background: var(--background);
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--text);
}

::-webkit-scrollbar-corner {
  background: transparent;
}



/* HIGHbackground */

::selection {
  background: var(--text);
  color: var(--background);
}

::-moz-selection {
  background: var(--text);
  color: var(--background);
}



/* CREDIT */

body::after {
  content: 'killthecake';
  color: var(--background);
  font-size: 8px;
  font-weight: bold;
  letter-spacing: 1px;
  position: fixed;
  top: 8px;
  right: 8px;
  z-index: 2;
}



/* CONTROL STRIP */

#lj_controlstrip {
  display: none;
}



/* POP-UPS */

.ljuser .ContextualPopup-trigger {
  display: none;
}

.ljuser a:first-child {
  padding: 0;
}

.ljuser a {
  font: 8px var(--font);
  text-transform: uppercase;
  padding: 0 2px;
  letter-spacing: 1px;
}

.ContextualPopup {
  border: 4px solid var(--text);
  border-radius: 20px;
  background: var(--background);
  box-shadow: none;
  color: var(--text);
}

.ContextualPopup a {
  color: var(--text);
}



/* HEADER */

#header {
  display: none;
}



/* NAVIGATION */

.topnav,
.page-top {
  display: none;
}

.bottomnav {
  font: 15px var(--header);
  font-weight: bold;
  text-align: center;
  background: var(--background);
}



/* MODULES */

#secondary,
#tertiary {
  display: none;
}



/* PRIMARY */

.comment-date-text,
.comment-from-text,
.comment-ip-text,
.restrictions img,
.access-filter img,
.sticky-entry-icon,
.entry .userpic,
.comment .userpic {
  display: none;
}

#primary {
  width: 50%;
  margin: 20px auto 0;
}

#primary > .inner:first-child {
  padding: 0;
}

.entry-wrapper {
  padding: 5px;
  margin: 30px 0;
  background: var(--backgroundImage);
}

.entry {
  background: var(--background);
  padding: 10px;
}

.entry .entry-title,
.entry .entry-title a,
.entry .header,
.entry .footer {
  margin: 0;
  padding: 0;
}

.entry .header {
  text-align: center;
}

.entry .datetime a,
.entry .footer a {
  background: none;
  padding: 0;
}

.entry .entry-title {
  font: 30px var(--header);
  padding: 1px 8px;
  background: var(--accent2);
}

.entry .datetime {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 8px;
}

.access-filter,
.restrictions {
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 10px;
}

.security-protected .access-filter:before {
  content: "locked";
}

.security-private .access-filter:before {
  content: "private";
}

.restrictions-NSFW .restrictions:before {
  content:"nsfw";
}

.restrictions-18 .restrictions:before {
  content:"18+";
}

.entry .entry-content {
  padding: 10px 0;
}

.entry .footer {
  text-align: right;
  font-weight: bold;
}

.entry .tag {
  float: left;
}

.entry-management-links, 
.entry-interaction-links,
.comment-management-links, 
.comment-interaction-links {
  display: inline;
}

.entry-management-links a, 
.entry-interaction-links a,
.comment-management-links a, 
.comment-interaction-links a {
  padding: 0 2px;
}

.comment-wrapper {
  padding: 5px 5px 15px;
  margin-bottom: 20px;
  background: var(--backgroundImage);
}

.comment {
  padding: 5px;
  background: var(--background);
}

.comment .comment-content {
  padding: 5px 0;
  text-align: justify;
}

.comment .datetime,
.comment .poster-ip {
  font-weight: bold;
  cursor: default;
}

.comment .header {
  padding-bottom: 10px;
}

.comment .footer {
  font-weight: bold;
  padding-top: 5px;
}

.comment-pages {
  text-align: center;
  margin: 5px 0;
}

.bottomcomment,
.comment-pages {
  text-align: center;
}

.bottomcomment a,
.comment-pages a {
  padding: 0 2px;
  font-weight: normal;
  font-weight: bold;
}

.bottomcomment .entry-management-links, 
.bottomcomment .entry-interaction-links {
  display: block;
  text-align: center;
}

.noentries {
  text-align: center;
  font-weight: bold;
  cursor: default;
}



/* ARCHIVE, TAGS, ICONS */

.empty {
  display: none;
}

.header h2 {
  text-decoration: none;
  cursor: default;
  font: 30px var(--header);
  margin: 0;
  padding: 0;
}

.tags-container,
.icons-container,
.month-wrapper {
  padding: 5px;
  margin-top: 20px;
  background: var(--backgroundImage);
}

.tags-container > .inner:first-child,
.icons-container > .inner:first-child,
.month-wrapper > .inner:first-child {
  background: var(--background);
  padding: 10px;
}

#archive-month {
  padding: 1px 12px;
  margin-top: 20px;
  background: var(--background);
}

#archive-month > .inner:first-child {
  background: var(--background);
  padding: 10px;
}

.tags-container,
.icons-container,
#archive-month {
  margin-bottom: 40px;
  padding: 30px;
}

.tags-container .inner,
.icons-container .inner {
  padding: 2px 5px 5px;
}

.icon-image, 
.icon-info {
  display: inline-block;
  padding: 10px 0 10px 10px;
}

.icon-image a {
  background: transparent;
}

.month dt {
  padding: 5px;
}

.month table caption {
  font-weight: bold;
}

.month .header {
  display: none;
}

table.month {
  width: 80%;
  margin: 5px auto;
}

table.month th {
  border-color: var(--text);
  background: var(--text);
  color: var(--background);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  text-align: center;
}

table.month td {
  border-color: var(--text);
  background: var(--background);
  vertical-align: top;
}

table.month td a {
  font-weight: bold;
}

.month caption {
  font: 30px var(--header);
}

.month .footer {
  text-align: center;
}

.month .footer a {
  color: var(--text);
}



/* MOBILE */

@media (max-width: 1100px) {
  #primary {
    width: 70%;
  }
}

@media (max-width: 750px) {
  #primary {
    width: 90%;
  }
}