:root {
  --background: center/cover url('https://i.ibb.co/Jwyqvx4B/lunar-0001.jpg') fixed;

  --text: #ddd;
  --accent1: #fff;
  --accent2: #4dcff4;
  --accent3: #08181c;
  --accent4: #186b82;
  --accent5: #269BBA;
  --accent6: rgba(2, 18, 38, 0.8);

  --font: 'Roboto', sans-serif;
  --header1: 'Tourney', sans-serif;
  --header2: 'Fleur De Leah', serif;

  --headerFontSize: 15vw;
  --subheaderFontSize: 4vw;
}

body {
  background: var(--background);
  color: var(--text);
  font: 12px var(--font);
}

#footer {
  display: none;
}

a {
  text-decoration: none;
  color: var(--accent4);
}

a:hover {
  color: var(--accent2);
}

input,
select,
button {
  background: var(--accent3);
  border: 2px solid var(--accent5);
  font-weight: bold;
  cursor: pointer;
  color: var(--text);
}



/* SCROLLBAR */
/* will not work on all browsers - non-standard */

::-webkit-scrollbar {
  background: var(--accent3);
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent5);
  border: 4px solid var(--accent3);
  border-top: none;
  border-bottom: none;
}

::-webkit-scrollbar-corner {
  background: transparent;
}



/* HIGHLIGHT */

::selection {
  background: var(--accent1);
  color: var(--accent3);
}

::-moz-selection {
  background: var(--accent1);
  color: var(--accent3);
}



/* CREDIT */

body::after {
  content: 'killthecake';
  color: var(--accent1);
  text-transform: uppercase;
  font-size: 8px;
  font-weight: bold;
  letter-spacing: 3px;
  position: fixed;
  bottom: 8px;
  right: 8px;
  z-index: 2;
  text-shadow: 0 0 2px var(--accent3), 
               0 0 4px var(--accent3), 
               0 0 6px var(--accent3);
}



/* CONTROL STRIP */

#lj_controlstrip {
  display: none;
}



/* POP-UPS */

.ljuser .ContextualPopup-trigger {
  display: none;
}

.ljuser::before {
  content: "x";
  color: var(--accent4);
  font-weight: bold;
  font-size: 10px;
}

.ljuser a:first-child {
  padding: 0;
}

.ljuser a {
  font-family: var(--font);
  text-transform: uppercase;
  font-size: 10px;
  padding: 0 2px;
  letter-spacing: 1px;
}

.ContextualPopup {
  border: 5px solid var(--accent5);
  background: var(--accent3);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  color: var(--accent1);
}

.ContextualPopup a {
  color: var(--accent4);
}



/* HEADER */

#pagetitle {
  display: none;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: default;
  margin: 24vh 0 0;
  padding: 0;
  height: 44vh;
  text-shadow: 0 0 2px var(--accent3), 
               0 0 4px var(--accent3), 
               0 0 6px var(--accent3);
}

#title,
#subtitle {
  margin: 0;
  padding: 0;
}

#title a {
  color: var(--accent1);
  font: var(--headerFontSize) var(--header1);
  letter-spacing: 20px;
  text-transform: uppercase;
  cursor: default;
}

#subtitle {
  color: var(--accent2);
  font: var(--subheaderFontSize) var(--header2);
  position: relative;
  bottom: 80px;
  font-weight: bold;
}



/* NAVIGATION */

.topnav,
.page-top {
  display: none;
}

.bottomnav {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}



/* MODULES */

.module h2,
.module .manage-link, 
.module-tags_cloud, 
.module-tags_multilevel, 
.module-tags_list,
.module-cuttagcontrols, 
.module-credit, 
.module-customtext,
.module-syndicate, 
.module-subscriptionfilters, 
.module-search, 
.module-time, 
.module-powered, 
.module-pagesummary, 
.module-calendar, 
.module-active,
.module-userprofile, 
#tertiary {
  display: none;
}

#secondary {
  background: var(--accent6);
  border: 1px solid var(--accent5);
  border-right: none;
  border-left: none;
  font: 14px var(--header1);
  padding: 1px 0;
  margin-top: 24vh;
  text-transform: uppercase;
  z-index: 2;
}

#secondary > .inner:first-child {
  margin: 0;
  padding: 0;
}

#secondary ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80%;
  margin: 20px auto;
}

#secondary li {
  list-style-type: none;
  padding: 0 5px;
  margin: 0;
}

#secondary a {
  color: var(--accent1)
}

#secondary a:hover {
  color: var(--accent2);
}



/* ENTRIES */

.comment-date-text,
.comment-from-text,
.comment-ip-text,
.restrictions img,
.access-filter img,
.sticky-entry-icon,
.entry .userpic,
.comment .userpic {
  display: none;
}

#primary {
  position: relative;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  padding-top: 50px;
  border-bottom: 5px solid var(--accent3);
  z-index: 1;
  margin: 0;
}

#primary > .inner:first-child {
  width: 60%;
  margin: auto;
  text-align: justify;
}

.entry {
  margin-bottom: 80px;
  padding: 20px;
  background: var(--accent6);
  border: 1px solid var(--accent5);
}

.entry .entry-title {
  font: 40px var(--header1);
  margin: 0;
  padding: 0;
}

.entry .entry-title a {
  transition: all 0.4s;
}

.entry .entry-title a:hover {
  text-shadow: 2px 2px 0 var(--accent4),
               -2px 2px 0 var(--accent5),
               2px -2px 0 var(--accent1),
               -2px -2px 0 var(--accent4);
  }

.entry .datetime {
  color: var(--accent4);
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}

.access-filter,
.restrictions {
  display: block;
  font-weight: bold;
  letter-spacing: 2px;
  font-variant: small-caps;
  padding-right: 2px;
  font-size: 16px;
  color: var(--accent4);
}

.security-protected .access-filter:before {
  content: "locked";
}

.security-private .access-filter:before {
  content: "private";
}

.restrictions-NSFW .restrictions:before {
  content:"nsfw";
}

.restrictions-18 .restrictions:before {
  content:"18+";
}

.entry .entry-content {
  padding: 10px 0;
}

.entry .footer {
  text-transform: uppercase;
  font-size: 10px;
  text-align: right;
  font-weight: bold;
}

.entry .tag {
  float: left;
  color: var(--accent4);
}

.entry-management-links, 
.entry-interaction-links,
.comment-management-links, 
.comment-interaction-links {
  display: inline;
}

.entry-management-links a, 
.entry-interaction-links a,
.comment-management-links a, 
.comment-interaction-links a {
  padding: 0 2px;
}

.comment {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.comment .comment-content {
  padding: 5px 0;
  text-align: justify;
}

.comment .datetime,
.comment .poster-ip {
  font-weight: bold;
  cursor: default;
}

.comment .header {
  padding-bottom: 10px;
}

.comment .footer {
  font-weight: bold;
  padding-top: 5px;
}

.comment-pages {
  text-align: center;
  margin: 5px 0;
}

.bottomcomment,
.comment-pages {
  text-align: center;
  color: var(--accent1);
}

.bottomcomment a,
.comment-pages a {
  padding: 0 2px;
  font-weight: normal;
  font-weight: bold;
}

.bottomcomment .entry-management-links, 
.bottomcomment .entry-interaction-links {
  display: block;
  text-align: center;
}

.noentries {
  text-align: center;
  font-weight: bold;
  cursor: default;
}



/* ARCHIVE, TAGS, ICONS */

.empty {
  display: none;
}

.header h2 {
  text-decoration: none;
  cursor: default;
  font: 50px var(--header1);
  color: var(--accent1);
  margin: 0;
  padding: 0;
}

.tags-container,
.icons-container,
.month-wrapper {
  padding: 10px;
  margin-top: 20px;
}

#archive-month {
  padding: 1px 12px;
  margin-top: 20px;
}

.tags-container,
.icons-container,
#archive-month {
  margin-bottom: 40px;
  padding: 30px;
}

.tags-container .inner,
.icons-container .inner {
  padding: 2px 5px 5px;
}

.icon-image, 
.icon-info {
  display: inline-block;
  padding: 10px 0 10px 10px;
}

.icon-image a {
  background: transparent;
}

.month dt {
  padding: 5px;
}

.month table caption {
  font-weight: bold;
}

.month .header {
  display: none;
}

table.month {
  width: 80%;
  margin: 5px auto;
}

table.month th {
  border-color: var(--accent5);
  background: var(--accent5);
  color: var(--accent1);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  text-align: center;
}

table.month td {
  border-color: var(--accent5);
  vertical-align: top;
}

table.month td a {
  font-weight: bold;
}

.month caption {
  font: 50px var(--header1);
  color: var(--accent1);
}

.month .footer {
  text-align: center;
}

.month .footer a {
  color: var(--accent1);
}

.month .footer a:hover {
  color: var(--accent2);
}



/* MOBILE */

@media (max-width: 800px) {
  #primary > .inner:first-child {
    width: 95%;
  }
  .entry .userpic {
    display: none;
  }
  #secondary ul {
    width: 100%;
  }
}