:root {
  --background: #070707;
  --text: #888;
  --borders: #333;
  --accent: #0097fc;

  --font: 'Roboto', sans-serif;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font);
  font-size: 12px;
}

a {
  color: var(--accent);
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 9px;
  padding: 0 2px;
}

a:hover {
  background: var(--accent);
}

input,
select,
button {
  background: var(--borders);
  text-transform: lowercase;
  border: 1px solid var(--borders);
}

input:hover, 
select:hover, 
button:hover {
  background: var(--background);
  color: var(--text);
  cursor: pointer;
}



/* SCROLLBAR */
/* will not work on all browsers - non-standard */

::-webkit-scrollbar {
  background: var(--background);
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--borders);
}

::-webkit-scrollbar-corner {
  background: transparent;
}



/* HIGHLIGHT */

::selection {
  background: var(--text);
  color: var(--background);
}

::-moz-selection {
  background: var(--text);
  color: var(--background);
}



/* CREDIT */

body::after {
  content: 'killthecake';
  color: var(--accent);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 8px;
  font-weight: bold;
  position: fixed;
  bottom: 10px;
  right: 10px;
}



/* CONTROL STRIP */

#lj_controlstrip {
  display: none;
}



/* POP-UPS */

.ljuser .ContextualPopup-trigger {
  display: none;
}

.ljuser::before {
  content: "@";
  color: var(--accent);
  font-size: 10px;
  padding: 0 2px 0 4px;
}

.ljuser a:first-child {
  padding: 0;
}

.ContextualPopup {
  border: none;
  background: var(--background);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  color: var(--text);
}

a.ContextualPopup-trigger:hover {
  background: none;
}

.ContextualPopup a {
  color: var(--accent);
}



/* HEADER */

#pagetitle,
#subtitle  {
  display: none;
}

#header {
  margin: 0;
  padding: 0;
}

#title {
  width: 50%;
  margin: auto;
  border-bottom: 2px solid var(--borders);
}

#title a {
  font-size: 40px;
  color: var(--text);
  text-transform: none;
}

#title a:hover {
  color: var(--background);
}



/* NAVIGATION */

.topnav {
  display: none;
}

.bottomnav {
  color: var(--accent);
}

.page-top a {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 8px;
  font-weight: bold;
  position: fixed;
  bottom: 10px;
  left: 10px;
}



/* MODULES */

#tertiary,
#secondary {
  display: none;
}



/* ENTRIES */

.comment-date-text,
.comment-from-text,
.comment-ip-text,
.restrictions img, 
.access-filter img,
.sticky-entry-icon,
.comment .userpic,
.entry .time {
  display: none;
}

#primary {
  width: 50%;
  margin: auto;
}

#primary > .inner:first-child {
  padding: 12px 0;
}

.entry {
  border-bottom: 2px solid var(--borders);
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.entry .entry-title,
.entry .entry-title a {
  color: var(--text);
  font-size: 20px;
  text-transform: none;
  letter-spacing: 0;
  margin: 0;
  padding: 0 2px;
}

.entry .entry-title a:hover {
  color: var(--background);
}

.entry-wrapper-odd .entry-title {
  text-align: left;
}

.entry-wrapper-even .entry-title {
  text-align: right;
}

.entry .date,
.entry .date a {
  color: var(--accent);
  letter-spacing: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
}

.entry-wrapper-odd .date,
.entry-wrapper-odd .access-filter,
.entry-wrapper-odd .restrictions,
.entry-wrapper-odd .ljuser {
  display: block;
  text-align: left;
  padding: 0 2px;
}

.entry-wrapper-even .date,
.entry-wrapper-even .access-filter,
.entry-wrapper-even .restrictions,
.entry-wrapper-odd .ljuser {
  display: block;
  text-align: right;
  padding: 0 2px;
}

.entry .poster.entry-poster {
  color: var(--background);
  cursor: default;
}

.entry-wrapper-odd .userpic img,
.entry-wrapper-odd .userpic {
  width: 50px;
  height: 50px;
  margin: 0 5px 5px 0;
  float: left;
}

.entry-wrapper-even .userpic img,
.entry-wrapper-even .userpic {
  width: 50px;
  height: 50px;
  margin: 0 0 5px 5px;
  float: right;
}

.entry .entry-content,
.comment .comment-content {
  text-align: justify;
  padding: 10px 0 10px;
}

.entry .footer {
  text-align: right;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 9px;
}

.entry .tag {
  float: left;
}

.entry-management-links, 
.entry-interaction-links,
.comment-management-links, 
.comment-interaction-links {
  display: inline;
}

.access-filter,
.restrictions {
  color: var(--accent);
  font-weight: bold;
  letter-spacing: 2px;
  font-variant: small-caps;
  text-align: left;
  padding-right: 2px;
  margin: 0;
  padding: 0;
}

.security-protected .access-filter:before {
  content: "locked";
}

.security-private .access-filter:before {
  content: "private";
}

.restrictions-NSFW .restrictions:before {
  content:"nsfw";
}

.restrictions-18 .restrictions:before {
  content:"18+";
}

.comment-pages {
  text-align: center;
  margin: 5px 0;
}

.toppages {
  padding: 10px 0;
}

.bottompages {
  margin-bottom: 25px;
}

.bottomcomment {
  text-align: center;
  color: var(--accent);
  text-transform: uppercase;
  font-size: 10px;
  padding-top: 20px;
}

.bottomcomment .entry-management-links, 
.bottomcomment .entry-interaction-links {
  display: block;
  text-align: center;
}

.noentries {
  text-align: center;
  font-weight: bold;
  cursor: default;
  color: var(--accent);
}



/* ARCHIVE, TAGS, ICONS */

.header h2 {
  cursor: default;
  margin: 0;
  letter-spacing: 1px;
  color: var(--text);
  font-size: 20px;
}

#archive-month {
  padding: 10px;
}

.icon-image, 
.icon-info {
  display:inline-block;
  padding: 10px 0 10px 10px;
}

.month table caption {
  color: var(--text);
}

.month .header {
  display: none;
}

table.month {
  width: 50%;
  margin-bottom: 20px;
}

table.month th {
  border-color: var(--accent);
  background: var(--accent);
  color: var(--background);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

table.month td {
  border-color: var(--accent);
  vertical-align: top;
}

table.month tbody {
  background: var(--background);
}

.month caption {
  font-size: 30px;
  cursor: default;
}



/* MOBILE */

@media (max-width: 650px) {
  #primary,
  #title {
    width: 80%;
  }
}




#selectorMain {
  position: fixed;
  top: -120vh;
  right: 0;
  left: 0;
  height: 100vh;
  background: linear-gradient(120deg, #deb9ee, #fcc0e0, #f8ebaa, #bdf8fa, #fcc0e0);
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  overflow-y: auto;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  transition: all 0.4s;
}

#open-close {
  padding: 15px 30px 30px 15px;
  font-size: 25px;
  color: #000;
  background: linear-gradient(120deg, #deb9ee, #fcc0e0, #f8ebaa, #bdf8fa, #fcc0e0);
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 0 0 100px 0;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#open-close:hover {
  text-shadow: 0 0 4px rgba(0,0,0,0.6);
  color: #fff;
}

.imageBlock {
  width: 180px;
  height: 120px;
  margin: 15px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 4px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: transparent;
  letter-spacing: 1px;
  transition: all 0.2s;
}

.imageBlock:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px #000;
  color: #fff;
  text-shadow: 0 0 2px #000, 0 0 4px #000;
}